.y24-header {
  display: block;
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.y24-header-logo {
  width: 287px;
  height: 54px;
  background-color: var(--maincolor-green);
  border-radius: 0 0 39px 0;
}
.y24-header-logo_pic {
  display: block;
  width: 174px;
  height: 23px;
  position: relative;
  top: 50%;
  left: 39px;
  transform: translateY(-50%);
}
.y24-header-logo_img {
  display: block;
  width: 100%;
  height: auto;
}
/* headermenu */
.y24-pc-nav-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
  .y24-header {
    /*  */
    display: flex;
    height: 66px;
    background-color: white;
    /*  */
    background-color: unset;
  }
  .y24-header-logo {
    width: 287px;
    height: 54px;
    border-radius: 0 0 39px 0;
  }
  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    width: 174px;
    height: 23px;
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  .y24-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    /*  */
    display: flex;
    height: 84px;
  }

  .y24-header-logo {
    background-color: var(--maincolor-green);
    border-radius: 0 0 clamp(1px, 10vw, 156px) 0;
    /*  */
    width: 756px;
    height: 84px;
    border-radius: 0 0 42px 0;
  }

  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    width: 145px;
    height: 17px;
    left: 24px;
    transform: translateY(-50%);
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }

  /* ヘッダーメニュー */
  .y24-pc-nav-btn {
    display: block;
  }
  .y24-pc-nav-btn-area {
    display: grid;
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 202px;
    transform: translateY(-50%);
    grid-template-columns: repeat(6, 80px);
    gap: 6px;
  }
  .y24-pc-nav-btn-area a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .y24-pc-nav-btn {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .y24-pc-nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .y24-pc-nav-btn_pic {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .y24-pc-nav-btn_img {
    display: block;
    width: 100%;
    height: auto;

    position: relative;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
  }
  .y24-pc-nav-btn_p {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: unset;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--textcolor-black);
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }
  /* ポップアップ */
  #y24-h-popup-01,
  #y24-h-popup-02,
#y24-h-popup-03,
#y24-h-popup-04,
#y24-h-popup-05,
#y24-h-popup-06{
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}





#y24-h-popup-01,
#y24-h-popup-02,
#y24-h-popup-03,
#y24-h-popup-04,
#y24-h-popup-05,
#y24-h-popup-06 {
    width: 300px;
    height: 300px;
    top: 300px; /* Adjust as needed */
    right: 300px; /* Adjust as needed */
    padding: 20px;
  }

  .popup-open {
    overflow: hidden;
    height: 100%;
    z-index: 999;
  }

  .y24-pc-nav-btn.active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  .y24-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    /*  */
    display: flex;
    height: 84px;
    /*  */
    height: 122px;
    margin-left: auto;
    margin-right: auto;
    background-color: unset;
  }
  .y24-header-logo {
    background-color: var(--maincolor-green);
    border-radius: 0 0 clamp(1px, 10vw, 156px) 0;
    /*  */
    width: 756px;
    height: 84px;
    border-radius: 0 0 42px 0;
    /*  */
    width: 1097px;
    height: 122px;
    border-radius: 0 0 60px 0;
  }

  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    /*  */
    width: 145px;
    height: 17px;
    left: 24px;
    transform: translateY(-50%);
    /*  */
    width: 210px;
    height: 27px;
    left: 35px;
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
    /*  */
  }
  /* ヘッダーメニュー */

  .y24-pc-nav-btn-area {
    left: 293px;
    grid-template-columns: repeat(6, 114px);
    gap: 12px;
  }
  .y24-pc-nav-btn_img {
    top: 14%;
  }
  .y24-pc-nav-btn_p {
    font-size: 16px;
    bottom: 16%;
  }
}
