/* section-10 defference    */
#y24-defference {
  background-image: url("../images/sp-s10-bckimg.svg");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 184px;
  background-size: 150px 212px;
}

.y24-deff-card {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding-top: 24px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 12px;
}
.y24-deff-card:last-of-type {
  margin-bottom: 0;
}
.y24-deff-card-thum {
  display: block;
  width: 230px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-deff-card_pic {
  display: block;
  width: 220px;
  height: auto;
}
.y24-deff-card_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-deff-card-text {
  width: 310px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-deff-card_h3 {
  padding-top: 14px;
  padding-bottom: 22px;
  font-family: "Zen Kaku Gothic New";
  font-weight: bold;
  /* font-size: 2rem; */
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
.y24-deff-card_p {
  padding-bottom: 12px;
  font-family: "Zen Kaku Gothic New";
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  line-height: 1.643;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
  .y24-deff-card_h3 {
    font-size: 24px;
  }
  .y24-deff-card {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom?: 24px; */
    padding-top: 24px;
    background-color: white;
    border-radius: 10px;
    /*  */
    width: 560px;
    margin-bottom: 48px;
  }

  .y24-deff-card-text {
    width: 480px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .y24-deff-card_p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  #y24-defference {
    /*  */
    padding-left: var(--x-padding-base);
    padding-right: var(--x-padding-base);
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  #y24-defference {
    background-image: url("../images/pc-s10-bckimg.svg");
    padding-bottom: 130px;
    background-size: 407px 407px;
  }
  #y24-defference .y24-section-title_p {
    margin-bottom: 0;
    padding-bottom: 82px;
  }
  .y24-deff-card {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    padding-top: 24px;
    background-color: white;
    border-radius: 10px;
    position: relative;

    /*  */
    display: grid;
    width: 960px;
    margin-bottom: 34px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 30px;
    grid-template-columns: 318px 1fr;
  }
  .y24-deff-card:nth-of-type(2) {
    grid-template-columns: 1fr 318px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .y24-deff-card:nth-of-type(2) .y24-deff-card-text {
    order: 1;
  }
  .y24-deff-card:nth-of-type(2) .y24-deff-card-thum {
    order: 2;
  }
  .y24-deff-card-thum {
    display: block;
    width: 230px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* ? */
    width: 250px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
  }
  .y24-deff-card-text {
    width: 310px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* */
    width: 100%;
    padding-top: 46px;
    padding-bottom: 46px;
    text-align: justify;
  }
  .y24-deff-card_h3 {
    padding-top: 14px;
    padding-bottom: 22px;
    font-family: "Zen Kaku Gothic New";
    font-weight: bold;
    /* font-size: 2rem; */
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    /*  */
    padding-top: 0;
    padding-bottom: 18px;
    margin-bottom: 0;
    font-size: 28px;
    text-align: justify;
  }
  .y24-deff-card_p {
    padding-bottom: 12px;
    font-family: "Zen Kaku Gothic New";
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    line-height: 1.643;
    /*  */
    margin-top: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
}
