@charset "UTF-8";

/* リーリース時には消すこと!!! */
* {
  /* outline: 1px rgba(255, 0, 0, 0.8) solid; */
}
/* 変数の定義 */
:root {
  --content-width: 960px;
  --min-content-width: 375px;
  --maincolor-green: #d6e816;
  --maincolor-white: #ffffff;
  --maincolor-blue: #6fbada;
  --sp-btn-color: #f15779;
  --textcolor-black: #333333;
  --textcolor-pink: #f15779;
  --textcolor-green: #8a8e2f;
  --sp-menu-textcolor-black: #202020;
}
html {
  scroll-behavior: smooth;
  /* コンテンツ幅でのフォントサイズ */
  min-width: var(--min-content-width);
  max-width: var(--content-width);
  color: var(--textcolor-black);
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  /* w:390px で、font-size:10px */
  font-size: clamp(1px, 2.564vw, 20px);
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('../fonts/ZenMaruGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../fonts/ZenKakuGothicNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/************************************************
    レスポンシブ */

/* モバイル向けのスタイル */

.y24-header {
  display: block;
  width: 100%;
  /* height: 66px; */
  height: clamp(1px, 19.623vw, 132px);
  position: fixed;
  top: 0;
  z-index: 100;
}
.y24-header-logo {
  /* width: 287px; */
  width: clamp(1px, 73.59vw, 574px);
  /* height: 54px; */
  height: clamp(1px, 13.846vw, 108px);
  background-color: var(--maincolor-green);
  /* border-radius: 0 0 39px 0; */
  border-radius: 0 0 clamp(1px, 10vw, 78px) 0;
}
.y24-header-logo_pic {
  display: block;
  /* width: 174px; */
  width: clamp(1px, 44.615vw, 348px);
  /* height: 23px; */
  height: clamp(1px, 5.897vw, 46px);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.y24-header-logo_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-navmenu-sp768 {
  display: none;
}

.y24-sp-menu-btn {
  position: absolute;
  /* width: 54px; */
  width: clamp(1px, 13.846vw, 108px);
  /* height: 54px; */
  height: clamp(1px, 13.846vw, 108px);
  background-color: var(--sp-btn-color);
  /* border-radius: 20px; */
  border-radius: clamp(1px, 5.128vw, 40px);
  /* top:12px; */
  top: clamp(1px, 3.077vw, 24px);
  /* right: 10px; */
  right: clamp(1px, 2.564vw, 20px);
  z-index: 300;
}
.y24-sp-menu-btn_span {
  display: block;
  position: absolute;
  /* width: 28px; */
  width: clamp( 1px, 7.179vw, 56px);
  height: 3px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s all;
}
.y24-sp-menu-btn_span::before {
  content: '';
  display: block;
  position: relative;
  /* width: 20px; */
  width: clamp( 1px, 5.128vw, 40px);
  height: 3px;
  background-color: white;
  /* top: -8px; */
  top:clamp( -16px, -2.051vw, -1px);
  /* left: 0; */
  transform: translateY(-50%) rotate(0);
  transition: 0.5s all;
}
.y24-sp-menu-btn_span::after {
  content: '';
  display: block;
  position: relative;
  /* width: 14px; */
  width: clamp( 1px, 3.590vw, 28px);
  height: 3px;
  background-color: white;
  /* bottom: -8px; */
  bottom:clamp( -16px, -2.051vw, -1px);
  transform: translateY(-50%) rotate(0);
  transition: 0.5s all;
}
.y24-sp-menu-btn_span.y24-sp-menu-open {
  background-color: var(--sp-btn-color);
}
.y24-sp-menu-open.y24-sp-menu-btn_span::before {
  width: 28px;
  width: clamp( 1px, 7.179vw, 56px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.5s all;
}
.y24-sp-menu-open.y24-sp-menu-btn_span::after {
  /* width: 28px; */
  width:clamp( 1px, 7.179vw, 56px);
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.5s all;
}
/* sp MENU */
.y24-sp-menu {
  display: block;
  /* width: 390px; */
  width: clamp( 1px, 100vw, 780px);

  /* height: calc(100vh - 64px); */
  height: calc(100vh - clamp( 1px, 16.41vw, 128px) );

  overflow-y: scroll;
  overflow-x: hidden;

  position: absolute;
  /* top: 64px; */
  top:clamp( 1px, 16.41vw, 128px);
  right: 0;
  background-color: white;

  transform: translateX(100%);
  transition: 0.5s all;
  z-index: 200;
}
.y24-sp-menu-inner {
  /* padding-left: 32px; */
  padding-left: clamp( 1px, 8.205vw, 64px);
  /* padding-right: 18px; */
  padding-right: clamp( 1px, 4.615vw, 36px);
}
.y24-sp-menu-open.y24-sp-menu {
  transform: translateX(0%);
  transition: 0.5s all;
}
.y24-sp-menu_a {
  display: block;
  /* padding-top: 14px; */
  padding-top: clamp( 1px, 3.590vw, 28px);
  /* padding-bottom: 14px; */
  padding-bottom: clamp( 1px, 3.590vw, 28px);
  color: var(--textcolor-black);
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: dashed 1px #b3b3b3;
}
.y24-sp-menu_p {
  display: block;
  /* padding-top: 14px; */
  padding-top: clamp( 1px, 3.590vw, 28px);
  /* padding-bottom: 14px; */
  padding-bottom: clamp( 1px, 3.590vw, 28px);
  color: var(--textcolor-black);
  font-size: 1.6rem;
  font-weight: bold;
}
.y24-sp-menu-todoufuken-area,
.y24-sp-menu-syashu-area {
  display: block;
  width: 100%;
  height: auto;
  /* padding-top: 14px; */
  padding-top: clamp( 1px, 3.590vw, 28px);
  /* padding-bottom: 14px; */
  padding-bottom: clamp( 1px, 3.590vw, 28px);
  border-bottom: dashed 1px #b3b3b3;
}
.y24-sp-menu_p {
  display: block;
  /* padding-bottom: 14px; */
  padding-bottom: clamp( 1px, 3.590vw, 28px);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--sp-menu-textcolor-black);
}
.y24-sp-menu-todoufuken-btn-area {
  display: flex;
  /* width: 300px; */
  width: clamp( 1px, 76.923vw, 600px);
  height: auto;

  flex-wrap: wrap;
}
.y24-sp-menu-radio_label {
  display: block;
  width: auto;
  height: auto;
  /* margin-right: 4px; */
  margin-right: clamp( 1px, 1.026vw, 8px);
  /* margin-bottom: 4px; */
  margin-bottom: clamp( 1px, 1.026vw, 8px);
  /* padding: 12px 14px; */
  padding: clamp( 1px, 3.077vw, 24px) clamp( 1px, 3.590vw, 28px);

  border: solid #6fbada 2px;
  font-size: 1.6rem;
  color: #6fbada;
  background-color: white;
}
input:checked + .y24-sp-menu-radio_label {
  background-color: #6fbada;
  color: white;
}

input.y24-sp-menu-radio_btn,
input.y24-sp-menu-radio-rev_btn {
  display: none;
}
.y24-sp-menu-syashu-btn-area {
  display: flex;
  /* width: 320px; */
  width: clamp( 1px, 82.051vw, 640px);
  height: auto;

  flex-wrap: wrap;
}

.y24-sp-menu-radio-rev_label {
  display: block;
  width: auto;
  height: auto;
  /* margin-right: 4px; */
  margin-right: clamp( 1px, 1.026vw, 8px);
  /* margin-bottom: 4px; */
  margin-bottom: clamp( 1px, 1.026vw, 8px);
  /* padding: 12px 14px; */
  padding: clamp( 1px, 3.077vw, 24px) clamp( 1px, 3.590vw, 28px);
  border: solid #6fbada 2px;
  font-size: 1.6rem;
  color: white;
  background-color: #6fbada;
}
input:checked + .y24-sp-menu-radio-rev_label {
  background-color: white;
  color: #6fbada;
}

.y24-sp-menu-link_btn-area {
  display: flex;
  /* width: 280px; */
  width: clamp( 1px, 71.795vw, 560px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 24px; */
  padding-top:clamp( 1px, 6.154vw, 48px);
  /* padding-bottom: 24px; */
  padding-bottom:clamp( 1px, 6.154vw, 48px);
  justify-content: space-between;
}
.y24-sp-menu-link_btn_a {
  display: grid;
  /* width: 128px; */
  width:clamp( 1px, 32.821vw, 256px);
  /* height: 48px; */
  height:clamp( 1px, 12.308vw, 96px);
  border: solid 2px;
  /* border-radius: 24px; */
  border-radius: clamp( 1px, 6.154vw, 48px);
  font-size: 1.6rem;
  font-weight: bold;
text-align: center;  
  align-items: center;
text-decoration: none;
}
.y24-sp-menu .y24-summary{
color: var(--sp-menu-textcolor-black);}
.y24-sp-menu .y24-summary::before{
  content: none;
}
.y24-sp-menu .y24-answer_a{
  /* padding-left: 16px; */
  padding-left:clamp( 1px, 4.103vw, 32px);
}
.y24-sp-menu .y24-answer_a::before{
border-bottom: unset;
}




.y24-contact_btn {
  border-color: #f05778;
  color: #f05778;
  background-color: white;
}
.y24-application_btn {
  border-color: white;
  color: white;
  background-color: #f05778;
}
.y24-sp-menu-footer_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-sp-menu-footer_pic img {
  display: block;
  width: 100%;
  height: auto;
}
/*  */
#y24-firstview {
  width: 100%;
  height: auto;
  background-image: url('../images/sp-mv-backgraund.svg'),
    url('../images/sp-main-image@3x.webp');
  background-size: 102% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  /* background-position: center 290px, center 0; */
  background-position: right clamp(1px, 74.359vw, 580px), center 0;
  /* padding-bottom: 49px; */
  padding-bottom: clamp(1px, 12.564vw, 98px);
  overflow-x: hidden;
}
.y24-title_h1 {
  display: block;
  /* width: 346px; */
  width: clamp(1px, 88.718vw, 692px);
  /* height: 172px; */
  height: clamp(1px, 44.103vw, 344px);
  /* margin-top: 269px; */
  margin-top: clamp(1px, 68.974vw, 538px);
  /* margin-left: 44px; */
  margin-left: clamp(1px, 11.282vw, 88px);
}
.y24-title_h1_pic {
  display: block;
  /* width: 346px; */
  width: clamp(1px, 88.718vw, 692px);
  height: auto;
  position: relative;
  right: 0;
}
.y24-title_h1_pic img {
  display: block;
  width: 100%;
  height: auto;
}
/* common */
.y24-section {
  /* padding-top: 72px; */
  padding-top: clamp(1px, 18.462vw, 144px);
  /* padding-bottom: 184px; */
  padding-bottom: clamp(1px, 47.179vw, 368px);
}
.y24-section-inner {
  padding-left: 4.167%;
  padding-right: 4.167%;
}
.y24-font-zenmaru {
  font-family: 'Zen Maru Gothic';
  font-weight: bold;
}
.y24-text-pink {
  color: var(--textcolor-pink);
}
.y24-text-green {
  color: var(--textcolor-green);
}
.y24-text-bold {
  font-weight: bold;
}
.y24-section-title_h2 {
  display: block;
  /* width: 350px; */
  width: clamp(1px, 89.744vw, 700px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  /* padding-bottom: 48px; */
  padding-bottom: clamp(1px, 12.308vw, 96px);
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Zen Maru Gothic';
  font-weight: bold;
}
.y24-font-jost {
  font-family: 'Jost';
  font-weight: 900;
}
.y24-section-title_pic {
  display: block;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 18px; */
  margin-bottom: clamp(1px, 4.615vw, 36px);
}
.y24-section-title_img {
  display: block;
  width: fit-content;
  height: auto;
}
.y24-section_p {
  margin-bottom: unset;
  font-size: 1.6rem;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  text-align: center;
}

.y24-bck-color-blue {
  background-color: var(--maincolor-blue);
}
.y24-bck-color-white {
  background-color: var(--maincolor-white);
}
.y24-bck-color-green {
  background-color: var(--maincolor-green);
}
/* 車が動くボタン */
.y24-btn-movecar {
  /* width: 360px; */
  width: clamp(1px, 92.308vw, 720px);
  /* height: 60px; */
  height: clamp(1px, 15.385vw, 120px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  /* border: solid var(--textcolor-black) 3px; */
  border: solid var(--textcolor-black) clamp(1px, 0.769vw, 6px);
  /* border-radius: 2px; */
  border-radius: clamp(1px, 0.513vw, 4px);
  overflow: hidden;
}
.y24-btn-movecar-car_pic {
  display: block;
  position: absolute;
  /* width: fit-content; */
  /* width: 91px; */
  width: clamp(1px, 23.333vw, 182px);
  height: auto;
  left: 0;
  bottom: 0;
  /* transform: translateX(-40px); */
  transform: translateX(clamp(-80px, -10.256vw, -1px));
  transition: 0.5s all;
}
.y24-movetrack {
  /* bottom: -10px; */
  bottom: clamp(-20px, -2.564vw, -1px);
  /* left: 20px; */
  left: clamp(1px, 5.128vw, 40px);
}
.y24-btn-movecar:hover .y24-btn-movecar-car_pic {
  /* transform: translateX(-30px); */
  transform: translateX(clamp(-60px, -7.692vw, -1px));
}
.y24-btn-movecar-car_img {
  display: block;
  width: fit-content;
  width: 100%;
  height: auto;
}

.y24-btn-movecar-text_pic {
  display: block;
  width: fit-content;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.y24-btn-movecar-text_img {
  display: block;
  width: fit-content;
  height: auto;
}
.y24-btn-movecar-text {
  width: 100%;
  height: auto;
  position: absolute;
  font-family: 'Zen Kaku Gothic New';
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--textcolor-black);
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
/*  */

/* section-01 */
.y24-submenu {
  /* width: 327px; */
  width: clamp(1px, 83.846vw, 654px);
  /* height: 134px; */
  height: clamp(1px, 34.359vw, 268px);
  /* margin-top: 19px; */
  margin-top: clamp(1px, 4.872vw, 38px);
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
}

.y24-sercharea {
  /* width: 360px; */
  width: clamp(1px, 92.308vw, 720px);
  /* height: 427px; */
  height: clamp(1px, 109.487vw, 854px);
  /* margin-top: 47px; */
  margin-top: clamp(1px, 12.051vw, 94px);
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 20px; */
  border-radius: clamp(1px, 5.128vw, 40px);
  background-color: aqua;
}

/* section-02 news  */
.y24-news-area {
  /* width: 350px; */
  width: clamp(1px, 89.744vw, 700px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* border: solid var(--textcolor-black) 2px; */
  background-color: white;
}
.y24-news-card {
  width: 100%;
  height: auto;
  position: relative;
  /* padding: 16px 38px 16px 12px; */
  padding: clamp(1px, 4.103vw, 32px) clamp(1px, 9.744vw, 76px)
    clamp(1px, 4.103vw, 32px) clamp(1px, 3.077vw, 24px);
}
.y24-news-card:not(:last-child) {
  border-bottom: dashed var(--textcolor-black) 1px;
}
.y24-news-card::after {
  content: '';
  position: absolute;
  /* width: 20px; */
  width: clamp(1px, 5.128vw, 40px);
  /* height: 20px; */
  height: clamp(1px, 5.128vw, 40px);
  background-color: red;
  top: 50%;
  right: 0;
}
.y24-news-card-date {
  display: block;
  width: fit-content;
  height: auto;
  background-color: var(--maincolor-blue);
  font-size: 1.4rem;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  color: white;
}

.y24-news-card-text {
  display: block;
  width: 100%;
  /* margin-top: 6px; */
  margin-top: clamp(1px, 1.538vw, 12px);
  text-align: justify;
  font-size: 1.6rem;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
}

/* section-03 pick up  */
#y24-pickup {
  background-image: url('../images/sp-s03-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  /* background-size: 128px 133px; */
  background-size: clamp( 1px, 32.821vw, 256px) clamp( 1px, 34.103vw, 266px);
}
.y24-slider {
  width: auto;
  /* height: 271px; */
  height: clamp(1px, 69.487vw, 542px);
  /* margin-top: 12px; */
  margin-top: clamp(1px, 3.077vw, 24px);
  background-color: aqua;
}

/* section-04 seasonal    */
#y24-seasonal {
  padding-bottom: clamp( 1px, 36.923vw, 280px);
  background-image: url('../images/sp-s04-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  /* background-size: 144px 155px; */
  background-size: clamp( 1px, 36.923vw, 288px) clamp( 1px, 39.744vw, 310px);

}
.y24-seasonal-cards {
  width: 100%;
  height: auto;
  /* padding-top: 24px; */
  padding-top: clamp(1px, 6.154vw, 48px);
}
.y24-seasonal-3cards {
  display: flex;
  width: 100%;
  height: auto;
  /* padding-bottom: 14px; */
  padding-bottom: clamp(1px, 3.59vw, 28px);
  justify-content: space-around;
}
.y24-seasonal-card_a {
  display: block;
  width: 30.556%;
  height: auto;
  /* border-radius: 12px; */
  border-radius: clamp(1px, 3.077vw, 24px);
  overflow: hidden;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
  box-shadow: 0 clamp(1px, 0.513vw, 4px) clamp(1px, 0.513vw, 4px)
    rgba(0, 0, 0, 0.6);
}
.y24-seasonal-card_a:hover {
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 clamp(1px, 0.513vw, 4px) clamp(1px, 0.513vw, 4px)
    rgba(0, 0, 0, 0.3);
}
.y24-seasonal-card_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-seasonal-card_pic img {
  display: block;
  width: 100%;
  height: auto;
}
/* section-05 search    */
#y24-search {
  background-image: url('../images/sp-s05-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  /* background-size: 161px 149px; */
  background-size: clamp( 1px, 41.282vw, 322px) clamp( 1px, 38.205vw, 298px);

}

/* section-06 popular    */
#y24-popular {
  background-image: url('../images/sp-s06-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  /* background-size: 163px 163px; */
  background-size: clamp( 1px, 41.795vw, 326px) clamp( 1px, 41.795vw, 326px);

}
.y24-section_p:nth-of-type(2) {
  /* margin-top: 24px; */
  margin-top: clamp(1px, 6.154vw, 48px);
  /* padding-bottom: 24px; */
  padding-bottom: clamp(1px, 6.154vw, 48px);
}
/* POPULAR バナー */
.y24-popular-cards {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
}
.y24-popular-card {
  display: block;
  /* width: 350px; */
  width: clamp(1px, 89.744vw, 700px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 18px; */
  margin-bottom: clamp(1px, 4.615vw, 36px);
}
.y24-popular-card_a {
  display: block;
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
  border-radius: clamp(1px, 2.564vw, 20px);
  overflow: hidden;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6); */
  box-shadow: 0 clamp(1px, 0.513vw, 4px) clamp(1px, 0.513vw, 4px)
    rgba(0, 0, 0, 0.6);
}
.y24-popular-card_a:hover {
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 clamp(1px, 0.513vw, 4px) clamp(1px, 0.513vw, 4px)
    rgba(0, 0, 0, 0.3);
}
.y24-popular-card_pic {
  display: block;
  width: 100%;
  height: auto;
}

.y24-popular-card img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-popular-card_p {
  margin-top: 4px;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
}
/* section-07 area    */
#y24-area {
  background-image: url('../images/sp-s07-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  /* background-size: 136px 136px; */
  background-size: clamp( 1px, 34.872vw, 272px) clamp( 1px, 34.872vw, 272px);
  /* background-position: bottom 0 right 19px; */
  background-position: bottom 0 right clamp( 1px, 4.872vw, 38px);
}
#y24-area .y24-maparea {
  display: block;
  width: 100%;
  /* height: 320px; */
  height: clamp(1px, 82.051vw, 640px);

  background-color: aqua;
}

/* section-08 reason    */
#y24-reason {
  background-image: url('../images/sp-s08-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  /* padding-bottom: 160px; */
  padding-bottom: clamp(1px, 41.026vw, 320px);
  /* background-size:  159px 159px; */
  background-size: clamp( 1px, 40.769vw, 318px) clamp( 1px, 40.769vw, 318px);
}
#y24-reason .y24-section_p {
  margin-bottom: unset;
  /* padding-bottom: 48px; */
  padding-bottom: clamp(1px, 12.308vw, 96px);
}
.y24-reason-crads {
}
.y24-reason-card {
  display: flex;
  /* width: 350px; */
  width: clamp(1px, 89.744vw, 700px);
  /* height: 94px; */
  height: clamp(1px, 24.103vw, 188px);
  /* border-radius: 4px; */
  border-radius: clamp(1px, 1.026vw, 8px);
  overflow: hidden;
  position: relative;
  background-color: white;
  /* margin-bottom: 12px; */
  margin-bottom: clamp(1px, 3.077vw, 24px);
}
.y24-reason-card:last-of-type {
  margin-bottom: unset;
}
.y24-reason_pic {
  display: block;
  /* width: 88px; */
  width: clamp(1px, 22.564vw, 176px);
  height: auto;
  position: relative;
  top: 50%;
  /* left: 28px; */
  left: clamp(1px, 7.179vw, 56px);
  transform: translateY(-50%);
}
.y24-reason_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-reason-card_p {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: 50%;
  /* left: 44px; */
  left: clamp(1px, 11.282vw, 88px);
  transform: translateY(-50%);
}

/* section-09 point    */
#y24-point {
  background-image: url('../images/sp-s09-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  /* padding-bottom: 160px; */
  padding-bottom: clamp(1px, 41.026vw, 320px);
  /* background-size: 224px 119px; */
  background-size: clamp( 1px, 57.436vw, 448px) clamp( 1px, 30.513vw, 238px);
}

#y24-point .y24-section-inner .y24-section_p:last-of-type {
  /* margin-bottom: 30px; */
  margin-bottom: clamp(1px, 7.692vw, 60px);
}

.y24-point-cards,
.y24-deff-cards,
.y24-payment-cards,
.y24-support-cards {
}
.y24-point-card,
.y24-deff-card,
.y24-payment-card,
.y24-support-card {
  /* width: 350px; */
  width: clamp(1px, 89.744vw, 700px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 24px; */
  margin-bottom: clamp(1px, 6.154vw, 48px);
  /* padding-top: 24px; */
  padding-top: clamp(1px, 6.154vw, 48px);
  background-color: white;
  /* border-radius: 10px; */
  border-radius: clamp(1px, 2.564vw, 20px);
}
.y24-deff-card {
  /* padding-bottom: 12px; */
  padding-bottom: clamp(1px, 3.077vw, 24px);
}
.y24-payment-card {
  /* padding-bottom: 24px; */
  padding-bottom: clamp(1px, 6.154vw, 48px);
}
.y24-point-card:last-of-type,
.y24-deff-card:last-of-type {
  margin-bottom: unset;
}
.y24-point-card:nth-of-type(2) {
  padding-bottom: 36px;
  padding-bottom: clamp(1px, 9.231vw, 72px);
}
.y24-point-card:nth-of-type(3) {
  /* padding-bottom: 12px; */
  padding-bottom: clamp(1px, 3.077vw, 24px);
}

.y24-point-card-thum {
  display: block;
  /* width: 220px; */
  width: clamp(1px, 56.41vw, 440px);
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-deff-card-thum {
  display: block;
  /* width: 230px; */
  width: clamp(1px, 58.974vw, 460px);
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-payment-card-thum4 {
  display: flex;
  /* width: 225px; */
  width: clamp(1px, 57.692vw, 550px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.y24-payment-card-thum3 {
  display: flex;
  /* width: 280px; */
  width: clamp(1px, 71.795vw, 560px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.y24-point-card_pic,
.y24-deff-card_pic {
  display: block;
  /* width: 220px; */
  width: clamp(1px, 56.41vw, 440px);
  height: auto;
}
.y24-payment-card-thum4 .y24-payment-card_pic {
  display: block;
  /* width: 97px; */
  width: clamp(1px, 24.872vw, 194px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-payment-card-thum3 .y24-payment-card_pic {
  display: block;
  /* width: 72px; */
  width: clamp(1px, 18.462vw, 144px);
  height: auto;
}

.y24-point-card_img,
.y24-deff-card_img,
.y24-payment-card_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-point-card-num_pic {
  display: block;
  /* width: 65px; */
  width: clamp(1px, 16.667vw, 130px);
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.y24-point-card-text,
.y24-deff-card-text,
.y24-support-card-text {
  /* width: 310px; */
  width: clamp(1px, 79.487vw, 620px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-payment-card-text {
  /* width: 280px; */
  width: clamp(1px, 71.795vw, 560px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.y24-point-card_h3,
.y24-deff-card_h3,
.y24-payment-card_h3 {
  /* padding-top: 14px; */
  padding-top: clamp(1px, 3.59vw, 28px);
  /* padding-bottom: 22px; */
  padding-bottom: clamp(1px, 5.641vw, 44px);
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}
.y24-support-card_h3 {
  /* padding-top: 14px; */
  padding-top: clamp(1px, 3.59vw, 28px);
  /* padding-bottom: 22px; */
  padding-bottom: clamp(1px, 5.641vw, 44px);
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
  font-size: 2rem;
  text-align: justify;
  line-height: 1.5;
}
.y24-support-card-fs18 {
  font-size: 1.8rem;
}
.y24-point-card_p,
.y24-deff-card_p {
  /* padding-bottom: 12px; */
  padding-bottom: clamp(1px, 3.077vw, 24px);
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.643;
}
.y24-payment-card_p,
.y24-support-card_p {
  /* padding-bottom: 12px; */
  padding-bottom: clamp(1px, 3.077vw, 24px);
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.643;
}
.y24-payment-card_p.y24-fs14,
.y24-support-card_p.y24-fs14 {
  font-size: 1.4rem;
}

.y24-payment-card-box_p {
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

/* section-10 defference    */
#y24-defference {
  background-image: url('../images/sp-s10-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  /* padding-bottom: 184px; */
  padding-bottom: clamp(1px, 47.179vw, 368px);
  /* background-size: 150px 212px; */
  background-size: clamp( 1px, 38.462vw, 300px) clamp( 1px, 54.359vw, 424px);

}

/* section-11 payment    */
#y24-payment {
  background-image: url('../images/sp-s11-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  /* padding-bottom: 136px; */
  padding-bottom: clamp(1px, 34.872vw, 272px);
  /* background-size: 169px 150px; */
  background-size: clamp( 1px, 43.333vw, 338px) clamp( 1px, 38.462vw, 300px);
}

/* section-12 support    */
#y24-support {
  background-image: url('../images/sp-s12-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  /* padding-bottom: 160px; */
  padding-bottom: clamp(1px, 41.026vw, 320px);
  /* background-size: 171px 171px; */
  background-size: clamp( 1px, 43.846vw, 342px) clamp( 1px, 43.846vw, 342px); 

}

/* section-13 application    */
#y24-application {
  background-image: url('../images/sp-s13-bckimg.svg');
  background-position: right 0 bottom -56px;
  background-repeat: no-repeat;
  /* padding-bottom: 184px; */
  padding-bottom: clamp(1px, 47.179vw, 368px);
  /* background-size: 178px 127px; */
  background-size: clamp( 1px, 45.641vw, 356px) clamp( 1px, 32.564vw, 254px);
}
.y24-application_pic {
  display: block;
  /* width: 361px; */
  width: clamp(1px, 92.564vw, 722px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-application_img {
  display: block;
  width: 100%;
  height: auto;
}
/* section-14 faq    */
#y24-faq {
  background-image: url('../images/sp-s14-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  /* background-size: 154px 154px; */
  background-size: clamp( 1px, 39.487vw, 308px) clamp( 1px, 39.487vw, 308px);
}

.y24-container {
  /* width: 350px; */
  width: clamp(1px, 89.744vw, 700px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-list {
}
/* ここまで調整用スタイル */

.y24-details {
  display: block;
  width: 100%;
  /* margin-bottom: 4px; */
  margin-bottom: clamp(1px, 1.026vw, 8px);
  /* padding-top: 18px; */
  padding-top: clamp(1px, 4.615vw, 36px);
  /* padding-left: 41px; */
  padding-left: clamp(1px, 10.513vw, 82px);
  /* padding-right: 28px; */
  padding-right: clamp(1px, 7.179vw, 56px);
  background-color: white;
  /* border-radius: 10px; */
  border-radius: clamp(1px, 2.564vw, 20px);
}
.y24-summary {
  display: block;
  position: relative;
  /* padding-right: 30px; */
  padding-right: clamp(1px, 7.692vw, 60px);
  /* padding-bottom: 18px; */
  padding-bottom: clamp(1px, 4.615vw, 36px);
  color: #2297c8;
  font-size: 1.4rem;
  line-height: 1.643;
  font-weight: bold;
  cursor: pointer;
  text-align: justify;
}
.y24-summary::before {
  content: '';
  /* width: 15px; */
  width: clamp(1px, 3.846vw, 30px);
  /* height: 22px; */
  height: clamp(1px, 5.641vw, 44px);
  position: absolute;
  /* top: 5px; */
  top: clamp(1px, 1.282vw, 10px);
  /* left: -20px; */
  left: clamp(-40px, -5.128vw, -1px);
  background-image: url('../images/sp-faq-q-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.y24-details[open] .y24-summary::after {
  transform: rotate(180deg);
}
.y24-summary::after {
  content: '';
  /* width: 13px; */
  width: clamp(1px, 3.333vw, 26px);
  /* height: 9px; */
  height: clamp(1px, 2.308vw, 18px);
  position: absolute;
  /* top: 5px; */
  top: clamp(1px, 1.282vw, 10px);
  right: -16px;
  right: clamp(-32px, -4.103vw, -1px);
  background-image: url('../images/sp-faq-close-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s all;
}

.y24-answer {
  width: 100%;
  /* overflow: hidden; */
}
.y24-answer_p {
  /* display: block; */
  /* width: 281px; */
  width: 100%;
  height: auto;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.643;
  /* padding-left: 41px; */
  /* padding-right: 28px; */
  padding-bottom: 18px;
}
.y24-answer_p::before {
  content: '';
  /* width: 13px; */
  width: clamp(1px, 3.333vw, 26px);
  /* height: 22px; */
  height: clamp(1px, 5.641vw, 44px);
  position: absolute;
  /* top: 5px; */
  top: clamp(1px, 1.282vw, 10px);
  /* left: -20px; */
  left: clamp(-40px, -5.128vw, -1px);
  background-image: url('../images/sp-faq-a-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;

}
/* section-15 blog    */
#y24-blog {
  padding-bottom: unset;
}
.y24-blog-slider {
  width: 100%;
  /* height: 289px; */
  height: clamp(1px, 74.103vw, 578px);
  /* margin-bottom: 24px; */
  margin-bottom: clamp(1px, 6.154vw, 48px);
  background-color: aqua;
}
/* footer */
.y24-footer {
  background-color: #cfe01a;
}
.y24-footer-top {
  width: 100%;
  /* height: 76px; */
  height: clamp(1px, 19.487vw, 152px);
  background-image: url('../images/sp-s15-bckimg.svg');
  /* background-position: right 0 bottom -3px; */
  background-position: right 0 bottom clamp(-6px, -0.769vw, -1px);
  background-position: right 0 bottom 0;

  background-repeat: no-repeat;
  background-color: white;
  /* background-size: contain; */
  /* background-size: 194px 76px; */
  background-size: clamp( 1px, 49.744vw, 388px) clamp( 1px, 19.487vw, 152px);

}

.y24-footer_pic {
  display: block;
  /* width: 174px; */
  width: clamp(1px, 44.615vw, 348px);
  height: auto;
  /* margin-top: 59px; */
  margin-top: clamp(1px, 15.128vw, 118px);
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 25px; */
  padding-bottom: clamp(1px, 6.41vw, 50px);
}
.y24-footer-linkbtn-area {
  display: flex;
  /* width: 354px; */
  width: clamp(1px, 90.769vw, 708px);
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.y24-footer-linkbtn_a {
  display: grid;
  /* width: 160px; */
  width: clamp(1px, 41.026vw, 320px);
  /* height: 47px; */
  height: clamp(1px, 12.051vw, 94px);
  background-color: white;
  /* border-radius: 50px; */
  border-radius: clamp(1px, 12.821vw, 100px);
  /* border: solid #f05778 2px; */
  border: solid #f05778 clamp(1px, 0.513vw, 4px);

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: #f05778;
  text-align: center;
  align-items: center;
}

.y24-footer-navmenu {
  /* width: 360px; */
  width: clamp(1px, 92.308vw, 720px);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-footer-navmenu .y24-details {
  background-color: unset;
  border-radius: unset;
  /* padding-top: 16px; */
  padding-top: clamp(1px, 4.103vw, 32px);
}
.y24-footer-navmenu .y24-details::before {
  content: '';
  position: absolute;
  /* width: 360px; */
  width: clamp(1px, 92.308vw, 720px);
  /* height: 40px; */
  height: clamp(1px, 10.256vw, 80px);
  /* margin-left: -40px; */
  margin-left: clamp(-80px, -10.256vw, -1px);
  border-bottom: dotted var(--textcolor-black) 2px;
  border-bottom: dotted var(--textcolor-black) clamp(1px, 0.513vw, 4px);
}
.y24-footer-navmenu .y24-details[open]:last-of-type::before {
  content: '';
}

.y24-footer-navmenu .y24-details:last-of-type::before {
  content: none;
}
.y24-footer-navmenu .y24-summary {
  width: 100%;
  color: var(--textcolor-black);
  /* padding-left: 14px; */
  padding-left: clamp(1px, 3.59vw, 28px);
  /* padding-bottom: 14px; */
  padding-bottom: clamp(1px, 3.59vw, 28px);
}
.y24-footer-navmenu .y24-summary::before {
  content: unset;
}
.y24-footer-navmenu .y24-answer {
  /* width: 260px; */
  word-wrap: clamp(1px, 66.667vw, 520px);
  height: auto;
  /* position: relative; */
  /* right:0; */
  margin-left: auto;
  margin-right: 0;
}

.y24-answer_a {
  display: grid;
  width: 100%;
  /* height: 48px; */
  height: clamp(1px, 12.308vw, 96px);
  font-size: 1.4rem;
  color: var(--textcolor-black);
  text-align: left;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.y24-answer_a::before {
  content: '';
  width: 110%;
  /* height: 48px; */
  height: clamp(1px, 12.308vw, 96px);
  position: absolute;
  /* border-bottom: dotted var(--textcolor-black) 2px; */
  border-bottom: dotted var(--textcolor-black) clamp(1px, 0.513vw, 4px);
}
.y24-footer-sns-area {
  display: flex;
  /* width: 87px; */
  width: clamp(1px, 22.308vw, 174px);
  height: auto;
  /* margin-top: 12px; */
  margin-top: clamp(1px, 3.077vw, 24px);
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 12px; */
  padding-bottom: clamp(1px, 3.077vw, 24px);
  justify-content: space-between;
}
.y24-footer-cr {
  display: block;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 45px; */
  padding-bottom: clamp(1px, 11.538vw, 90px);
  font-size: 1.2rem;
}
/*  */
/*  */
/*  */
@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */

  .y24-header {
    /* height: 66px; */
    position: fixed;
    top: 0;
    z-index: 9999;
    /*  */
    display: flex;
    height: 66px;
    background-color: white;
  }
  .y24-header-logo {
    background-color: var(--maincolor-green);
    /*  */
    width: 287px;
    height: 54px;
    border-radius: 0 0 39px 0;
  }
  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    width: 174px;
    height: 23px;
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }

  .y24-navmenu-sp768 {
    /*  */
    display: flex;
    position: relative;
    width: 147px;
    height: 66px;

    justify-content: space-between;
    margin-left: auto;
    margin-right: 100px;
  }
  .y24-sp-contact-btn {
    /*  */
    display: block;
    width: 65px;
    height: 54px;
    position: relative;
    background-color: white;
    border: solid 2px #f05778;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .y24-sp-contact-btn_pic {
    /*  */
    display: block;
    position: relative;
    width: 18px;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-sp-contact-btn_img,
  .y24-sp-application-btn_img {
    /*  */
    display: block;
    width: 100%;
    height: auto;
  }

  .y24-sp-contact-btn_p {
    /*  */
    display: block;
    margin-top: 13px;
    font-size: 10px;
    font-weight: bold;
    color: #f05778;
  }

  .y24-sp-application-btn {
    /*  */
    display: block;
    width: 65px;
    height: 54px;
    position: relative;

    background-color: #f05778;
    border: solid 2px white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .y24-sp-application-btn_pic {
    /*  */
    display: block;
    width: 18px;
    height: auto;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-sp-application-btn_p {
    /*  */
    display: block;
    margin-top: 13px;

    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .y24-sp-menu-btn {
    position: absolute;
    background-color: var(--sp-btn-color);
    /*  */
    width: 54px;
    height: 54px;
    right: 20px;
    border-radius: 20px;
    top: 6px;
  }
  .y24-sp-menu-btn_span {
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span::before {
    content: '';
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background-color: white;
    top: -8px;
    /* left: 0; */
    transform: translateY(-50%) rotate(0);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span::after {
    content: '';
    display: block;
    position: relative;
    width: 14px;
    height: 3px;
    background-color: white;
    bottom: -8px;
    transform: translateY(-50%) rotate(0);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span.y24-sp-menu-open {
    background-color: var(--sp-btn-color);
  }
  .y24-sp-menu-open.y24-sp-menu-btn_span::before {
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.5s all;
  }
  .y24-sp-menu-open.y24-sp-menu-btn_span::after {
    width: 28px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.5s all;
  }
  


  /*  */
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
}

@media screen and (min-width: 1200px) {
  /* スクリーンサイズが1200px以上の場合に適用 */
}
