@charset "UTF-8";

/* リーリース時には消すこと!!! */
* {
  /* outline: 1px rgba(255, 0, 0, 0.8) solid; */
}
/* 変数の定義 */
:root {
  --content-width: 1440px;
  --min-content-width: 375px;
  --maincolor-green: #d6e816;
  --maincolor-white: #ffffff;
  --maincolor-blue: #6fbada;
  --sp-btn-color: #f15779;
  --textcolor-black: #333333;
  --textcolor-pink: #f15779;
  --textcolor-green: #8a8e2f;
  --sp-menu-textcolor-black: #202020;
}

/* @group @variables x-padding */

:root {
  --x-padding-base: 5vw;
  --x-padding: var(--x-padding-base);
  --x-padding-right: var(--x-padding);
  --x-padding-left: var(--x-padding);
}

@supports (padding-top: constant(safe-area-inset-top)) {
  :root {
    --x-padding-right: calc(env(safe-area-inset-right) + var(--x-padding));
    --x-padding-left: calc(env(safe-area-inset-left) + var(--x-padding));
  }
}
@media all and (min-width: 64em) {
  :root {
    --x-padding-base: calc((100vw - 960px) / 2);
  }
}

/* @end @variables x-padding */

html {
  scroll-behavior: smooth;
  /* コンテンツ幅でのフォントサイズ */
  min-width: var(--min-content-width);
  max-width: var(--content-width);
  color: var(--textcolor-black);
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  /* w:390px で、font-size:10px */
  /* font-size: clamp(1px, 2.564vw, 40px); */
  font-size: 10px;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('../fonts/ZenMaruGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../fonts/ZenKakuGothicNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/************************************************
    レスポンシブ */

/* モバイル向けのスタイル */

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  cursor: pointer;
  color: unset;
}
a:visited,
a:active {
  color: unset;
  text-decoration: none;
}

.y24-header {
  display: block;
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.y24-header-logo {
  width: 287px;
  height: 54px;
  background-color: var(--maincolor-green);
  border-radius: 0 0 39px 0;
}
.y24-header-logo_pic {
  display: block;
  width: 174px;
  height: 23px;
  position: relative;
  top: 50%;
  left: 39px;
  transform: translateY(-50%);
}
.y24-header-logo_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-pc-nav-btn,
.y24-pc-cta-area {
  display: none;
}
.y24-navmenu-sp768 {
  display: none;
}
.y24-pc-none {
  display: initial;
}
.y24-sp-none {
  display: none;
}
.y24-bold {
  font-weight: bold;
}
.y24-sp-menu-btn {
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: var(--sp-btn-color);
  border-radius: 20px;
  top: 12px;
  right: 10px;
  z-index: 300;
}
.y24-sp-menu-btn_span {
  display: block;
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s all;
  animation: sp-btn-close 0.5s linear;
}
.y24-sp-menu-btn_span::before {
  content: '';
  display: block;
  position: relative;
  width: 20px;
  height: 3px;
  background-color: white;
  top: -8px;
  left: 0;
  transform: translateY(-50%) rotate(0);
  transition: 0.2s all;
}
.y24-sp-menu-btn_span::after {
  content: '';
  display: block;
  position: relative;
  width: 14px;
  height: 3px;
  background-color: white;
  bottom: -8px;
  transform: translateY(-50%) rotate(0);
  transition: 0.2s all;
}
@keyframes sp-btn-close {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sp-btn-open {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.y24-sp-menu-btn_span.y24-sp-menu-open {
  background-color: var(--sp-btn-color);
  animation: sp-btn-open 0.5s linear;
}
.y24-sp-menu-open.y24-sp-menu-btn_span::before {
  width: 28px;
  /* width: clamp(1px, 7.179vw, 112px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.2s all;
}
.y24-sp-menu-open.y24-sp-menu-btn_span::after {
  width: 28px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.2s all;
}
/* sp MENU */
.y24-sp-menu {
  display: block;
  width: 390px;
  /* height: calc(100vh - 64px); */
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  transform: translateY(-100%);
  transition: 0.5s all;
  z-index: 200;
}
.y24-sp-menu-inner {
  padding-left: 32px;
  padding-right: 18px;
}
.y24-sp-menu-open.y24-sp-menu {
  transform: translateY(0%);
  transition: 0.5s all;
}
.y24-sp-menu_a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--textcolor-black);
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: dashed 1px #b3b3b3;
}
.y24-sp-menu_p {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--textcolor-black);
  font-size: 1.6rem;
  font-size: 16px;
  font-weight: bold;
}
.y24-sp-menu-todoufuken-area,
.y24-sp-menu-syashu-area {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: dashed 1px #b3b3b3;
}
.y24-sp-menu_p {
  display: block;
  padding-bottom: 14px;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-weight: bold;
  color: var(--sp-menu-textcolor-black);
}
.y24-sp-menu-todoufuken-btn-area {
  display: flex;
  width: 300px;
  height: auto;

  flex-wrap: wrap;
}
/* .y24-sp-menu-radio_label, */
.y24-sp-menu-todoufuken_btn {
  display: block;
  width: auto;
  height: auto;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 12px 14px;
  border-radius: 2px;
  border: solid #6fbada 2px;
  /* font-size: 1.6rem; */
  font-size: 16px;
  color: #6fbada;
  background-color: white;
}
.y24-sp-menu-todoufuken_btn:hover {
  /* border: solid white 2px; */
  color: white;
  background-color: #6fbada;
}
input:checked + .y24-sp-menu-radio_label {
  background-color: #6fbada;
  color: white;
}

input.y24-sp-menu-radio_btn,
input.y24-sp-menu-radio-rev_btn {
  display: none;
}
.y24-sp-menu-syashu-btn-area {
  display: flex;
  width: 320px;
  height: auto;

  flex-wrap: wrap;
}

.y24-sp-menu-radio-rev_label,
.y24-sp-menu-syashu_btn {
  display: block;
  width: auto;
  height: auto;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 12px 14px;
  border: solid #6fbada 2px;
  border-radius: 2px;
  border-radius: 2px;
  /* font-size: 1.6rem; */
  font-size: 16px;
  color: white;
  background-color: #6fbada;
}
.y24-sp-menu-syashu_btn:hover {
  /* border: solid #6fbada 2px; */
  color: #6fbada;
  background-color: white;
}
input:checked + .y24-sp-menu-radio-rev_label {
  background-color: white;
  color: #6fbada;
}

.y24-sp-menu-link_btn-area {
  display: flex;
  width: 280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
}
.y24-sp-menu-link_btn_a {
  display: grid;
  width: 128px;
  height: 48px;
  border: solid 2px;
  border-radius: 24px;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.y24-sp-menu .y24-summary {
  color: var(--sp-menu-textcolor-black);
}
.y24-sp-menu .y24-summary::before {
  content: none;
}
/* .y24-sp-menu .y24-answer_a, */
.y24-sp-menu .y24-answer_link {
  padding-left: 16px;
}
/* .y24-sp-menu .y24-answer_a::before, */
.y24-sp-menu .y24-answer_link::before {
  border-bottom: unset;
}

.y24-contact_btn {
  border-color: #f05778;
  color: #f05778;
  background-color: white;
}
.y24-contact_btn:hover {
  color: white;
  background-color: #f05778;
}
.y24-application_btn {
  border-color: #f05778;
  color: white;
  background-color: #f05778;
}
.y24-application_btn:hover {
  color: #f05778;
  background-color: white;
}
.y24-sp-menu-footer_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-sp-menu-footer_pic img {
  display: block;
  width: 100%;
  height: auto;
}
/*  */
#y24-firstview {
  width: 100%;
  height: auto;
  background-image: url('../images/sp-mv-backgraund.svg'),
    url('../images/sp-main-image@3x.webp');
  background-size: 102% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  /* background-position: center 285px, center 0; */
  background-position: center clamp(285px, 73.077vw, 1140px), center 0;
  padding-bottom: 49px;
  overflow-x: hidden;
}
.y24-title_h1 {
  display: block;
  /* width: 346px; */
  width: clamp(346px, 88.718vw, 1384px);
  /* height: 172px; */
  height: auto;
  margin-top: 198px;
  margin-top: clamp(198px, 50.769vw, 792px);
  margin-right: 0;
  margin-left: auto;
}
.y24-title_h1_pic {
  display: block;
  /* width: 346px; */
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
}
.y24-title_h1_pic img {
  display: block;
  width: 100%;
  height: auto;
}
/* common */
.y24-section {
  padding-top: 72px;
  padding-bottom: 184px;
}
.y24-section-inner {
  /* padding-left: 4.167%; */
  /* padding-right: 4.167%; */
}
.y24-font-zenmaru {
  font-family: 'Zen Maru Gothic';
  font-weight: bold;
}
.y24-font-jost {
  font-family: 'Jost';
  /* font-size: 5.6rem; */
  font-size: 5rem;
  /* font-size: 50px; */
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 0 var(--textcolor-black),
    -1px -1px 0 var(--textcolor-black), -1px 1px 0 var(--textcolor-black),
    1px -1px 0 var(--textcolor-black), 1px 0 0 var(--textcolor-black),
    -1px 0 0 var(--textcolor-black), 0 1px 0 var(--textcolor-black),
    0 -1px 0 var(--textcolor-black), 2px 2px 0 var(--textcolor-black),
    -2px -2px 0 var(--textcolor-black), -2px 2px 0 var(--textcolor-black),
    2px -2px 0 var(--textcolor-black), 2px 0 0 var(--textcolor-black),
    -2px 0 0 var(--textcolor-black), 0 2px 0 var(--textcolor-black),
    0 -2px 0 var(--textcolor-black);
}

.y24-text-pink {
  color: var(--textcolor-pink);
}
.y24-text-green {
  color: var(--textcolor-green);
}
.y24-text-bold {
  font-weight: bold;
}
.y24-section-title_h2 {
  display: block;
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 12px;
  text-align: center;
  /* font-size: 2.4rem; */
  /* font-size: 4.2rem; */
  /* font-size: 24px;? */
  /* font-family: 'Zen Maru Gothic'; */
  font-family: 'Jost';
  font-weight: bold;
}
.y24-section-title_p {
  display: block;
  width: fit-content;
  font-size: 24px;
  font-family: 'Zen Maru Gothic';
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
}

.y24-section-title_pic {
  display: block;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.y24-section-title_img {
  display: block;
  width: fit-content;
  height: auto;
}
.y24-section_p {
  margin-bottom: unset;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  text-align: center;
}

.y24-bck-color-blue {
  background-color: var(--maincolor-blue);
}
.y24-bck-color-white {
  background-color: var(--maincolor-white);
}
.y24-bck-color-green {
  background-color: var(--maincolor-green);
}
/* 車が動くボタン */
.y24-btn-movecar {
  width: 360px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  border: solid var(--textcolor-black) 3px;
  border-radius: 2px;
  overflow: hidden;
}
.y24-btn-movecar-car_pic {
  display: block;
  position: absolute;
  width: 91px;
  height: auto;
  left: 0;
  bottom: 0;
  transform: translateX(-40px);
  transition: 0.5s all;
}
.y24-movetrack {
  bottom: -10px;
  left: 20px;
}
.y24-btn-movecar:hover .y24-btn-movecar-car_pic {
  transform: translateX(-30px);
}
.y24-btn-movecar-car_img {
  display: block;
  width: fit-content;
  width: 100%;
  height: auto;
}

.y24-btn-movecar-text_pic {
  display: block;
  width: fit-content;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.y24-btn-movecar-text_img {
  display: block;
  width: fit-content;
  height: auto;
}
.y24-btn-movecar-text {
  width: 100%;
  height: auto;
  position: absolute;
  font-family: 'Zen Kaku Gothic New';
  /* font-size: 1.8rem; */
  font-size: 18px;
  font-weight: bold;
  color: var(--textcolor-black);
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
/*  */

/* section-01 */
.y24-submenu {
  display: grid;
  grid-template-columns: 90px 131px 90px;
  gap: 8px;
  /* width: 330px; */
  width: fit-content;
  height: 140px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aqua; */
}
.y24-submenu-item {
  width: 100%;
  height: auto;
  position: relative;
}
.y24-submenu-item_p {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.y24-submenu-item_p-small {
  font-size: 14px;
}
.y24-submenu-item:nth-of-type(2n + 1) {
  margin-top: 0;
  margin-bottom: auto;
}
.y24-submenu-item:nth-of-type(2n) {
  margin-top: auto;
  margin-bottom: 0;
}
.y24-submenu-item_img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
}
.y24-submenu-item_img:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}

.y24-searcharea {
  width: 360px;
  height: 427px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}
.y24-search-title {
  background-color: var(--textcolor-pink);
  height: 50px;
  /* position: relative; */
}
.y24-search-title_p {
  display: block;
  width: fit-content;
  height: fit-content;
  padding-left: 32px;
  background-image: url('../images/sp-search.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: white;
}
#y24-searchForm {
  display: block;
  width: 330px;
  height: auto;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
.y24-search-item {
  width: 100%;
  height: 48px;
  font-size: 16px;
  border: solid 1px #c5c5c5;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 rgba(51, 51, 51, 0.25);
}
.y24-search-item label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 26px;
  padding-right: 26px;
  font-weight: bold;
}
.y24-search-item select,
.y24-search-item input {
  width: 221px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-appearance: none; /* Chrome, Safari, Opera など */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  background: url('../images/sp-faq-close-pic.svg') no-repeat right center;
  border: none; /* 枠を消す場合 */
}
#y24-entryDate::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.y24-search-item:nth-of-type(3) select {
  width: 184px;
}
.y24-search-item:nth-of-type(4) input {
  width: 207px;
}
#y24-submitButton {
  width: 100%;
  height: 47px;
  margin-top: 12px;
  border-radius: 60px;
  background-color: var(--sp-btn-color); /* 初期状態の背景色 */
  color: black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed; /* 初期状態では押せないように見せる */
}

/* 全ての項目が選択された状態のボタンスタイル */
#y24-submitButton.enabled {
  background-color: white;
  color: var(--textcolor-pink);
  border: 2px solid var(--sp-btn-color);
  cursor: pointer;
}
.y24-search-result {
  display: flex;
  width: fit-content;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: bold;
}
.y24-search-result p {
  display: block;
  height: 21px;
}
.y24-search-result p:first-of-type {
  padding-left: 36px;
  background-image: url('../images/sp-school.svg');
  background-repeat: no-repeat;
  background-size: 29px 21px;
  background-position: center left;
}
.y24-search-result_num2,
.y24-search-result_num1 {
  border: 1px solid;
  padding: 0 4px;
  font-size: 16px;
  line-height: 1.1;
  position: relative;
  top: 50%;
  /* transform: translateY(-%); */
  border-radius: 2px;
}
.y24-search-result_num1 {
  margin: 0 8px 0 1px;
}
.y24-search-result_num2 {
  margin: 0 1px 0 8px;
}

/* section-02 news  */
#y24-news {
  padding-top: 56px;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;
}
.y24-news-area {
  /* width: 350px; */
  width: 100%;
  height: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
  background-color: white;
}
.y24-news-card {
  width: 100%;
  height: auto;
  position: relative;
  padding: 16px 38px 16px 12px;
}
.y24-news-card:not(:last-child) {
  border-bottom: dashed var(--textcolor-black) 1px;
}
.y24-news-card::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 0;
  background-image: url('../images/sp-faq-close-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}
.y24-news-card-date {
  display: block;
  width: fit-content;
  height: auto;
  padding: 0 4px;
  background-color: var(--maincolor-blue);
  /* font-size: 1.4rem; */
  font-size: 14px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  color: white;
}

.y24-news-card-text {
  display: block;
  width: 100%;
  margin-top: 6px;
  text-align: justify;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
}

/* section-03 pick up  */
#y24-pickup {
  padding-top: 54px;
  background-image: url('../images/sp-s03-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 128px 133px;
}
#y24-pickup .y24-section-title_p {
  margin-bottom: 0;
  padding-bottom: 20px;
}
#y24-pickup .y24-section_p {
  margin-top: 0;
  padding-bottom: 16px;
}
F .y24-slider {
  /* display: block; */
  width: 100%;
  height: 308px;
  margin-top: 12px;
  /* background-color: aqua; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-bottom: 24px;
}
.y24-splide_slide {
}

.y24-splide_card {
  width: 100%;
  height: auto;
  position: relative;
  background-color: pink;
}
.y24-splide-imgframe {
  width: 100%;
  height: auto;

  border-radius: 10px;
  overflow: hidden;
}
.y24-splide_slide_img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.y24-splide_slide_img:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.y24-splide_slide-text {
  font-size: 16px;
  color: var(--textcolor-black);
}
.y24-splide_slide-start {
  font-size: 14px;
  color: var(--textcolor-black);
}
.y24-splide_slide-fukidashi {
  display: block;
  width: 154px;
  height: auto;
  position: absolute;
  top: -13px;
  right: -13px;
  overflow: unset;
}

/* section-04 seasonal    */
#y24-seasonal {
  padding-bottom: clamp(1px, 36.923vw, 560px);
  background-image: url('../images/sp-s04-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 144px 155px;
}
.y24-seasonal-cards {
  display: grid;
  /* width: 100%; */
  width: fit-content;
  height: auto;

  /* grid-template-columns: 110px 110px 110px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 110px);

  gap: 10px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}
.y24-seasonal-3cards {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.y24-seasonal-card_a {
  display: block;
  /* width: 110px; */
  width: 100%;
  /* height: 110px; */
  height: auto;
  /* margin-bottom: clamp(1px, 3.59vw, 56px); */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.y24-seasonal-card_a:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.y24-seasonal-card_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-seasonal-card_pic img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-special {
  padding-top: 35px;
}
.y24-special .y24-section-title_h2 {
  margin-bottom: 24px;
  height: 105px;
  /* font-size: 1.8rem; */
  font-size: 18px;
  background-image: url('../images/sp-special-bckimg.svg');
  background-size: auto 105px;
  background-repeat: no-repeat;
  background-position: center center;
}
.y24-special .y24-font-jost {
  font-size: 4.2rem;
}
.y24-special-banners {
  /* display: flex; */
  display: grid;
  width: fit-content;
  height: auto;
  /* flex-wrap: wrap; */
  margin-left: auto;
  margin-right: auto;

  grid-template-columns: 350px;
  gap: 16px;
}
.y24-special-banner {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
}
.y24-special-banner:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}
.y24-special-banner_a {
  display: block;
  width: 100%;
  height: auto;
  /* padding-bottom: 14px; */
}
.y24-special-banner_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-special-banner_img {
  display: block;
  width: 100%;
  height: auto;
}

/* section-05 search    */
#y24-search {
  background-image: url('../images/sp-s05-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 161px 149px;
}

.y24-search-linkbtn-area {
  /* display: flex; */
  display: grid;

  grid-template-columns: 160px 160px;
  gap: 18px;

  /* width: 338px; */
  width: fit-content;
  height: auto;
  /* flex-wrap: wrap; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-bottom: 30px;
  /* justify-content: space-between; */
}
.y24-search-linkbtn_a {
  display: block;
  /* width: 160px; */
  width: 100%;
  height: auto;
  margin-bottom: 18px;
  position: relative;
}
.y24-search-linkbtn_pic,
.y24-search-linkbtn_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-search-linkbtn_img {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
}
.y24-search-linkbtn_img:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}

/* section-06 popular    */
#y24-popular {
  background-image: url('../images/sp-s06-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 163px 163px;
}
.y24-section_p:nth-of-type(2) {
  margin-top: 24px;
  padding-bottom: 24px;
}
/* POPULAR バナー */
.y24-popular-cards {
  /* display: flex; */
  /* width: 100%; */
  display: grid;
  height: auto;
  justify-content: center;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(1, auto);
  text-align: center;
  gap: 20px;
}
.y24-popular-card {
  display: block;
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 18px; */
}
.y24-popular-card_a {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.y24-popular-card_a:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.y24-popular-card_pic {
  display: block;
  width: 100%;
  height: auto;
}

.y24-popular-card img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-popular-card_p {
  margin-top: 4px;
  text-align: center;
  /* font-size: 1.4rem; */
  font-size: 14px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
}
/* section-07 area    */
#y24-area {
  background-image: url('../images/sp-s07-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 136px 136px;
  background-position: bottom 0 right 19px;
}
#y24-area .y24-maparea {
  display: block;
  width: 310px;
  height: 310px;
  position: relative;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
#y24-area .y24-maparea img {
  width: 100%;
}
.y24-map-btn {
  display: grid;
  width: fit-content;
  height: auto;
  padding: 10px 12px;
  position: absolute;
  border-radius: 5px;
  border: solid 2px white;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--sp-btn-color);
  text-align: center;
  align-items: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.y24-map-btn:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#map-hakkaido {
  top: -10px;
  top: -3.226%;
  right: -26px;
  right: -8.387%;
}
#map-touhoku {
  top: 94px;
  top: 30.322%;
  right: -10px;
  right: -3.223%;
}
#map-kantoh {
  bottom: 56px;
  bottom: 18.065%;
  right: -16px;
  right: -5.161%;
}
#map-hokuriku {
  top: 92px;
  top: 29.678%;
  left: 146px;
  left: 47.097%;
}
#map-toukai {
  bottom: 10px;
  bottom: 3.226%;
  right: 76px;
  right: 24.516%;
}
#map-chugoku {
  top: 146px;
  top: 47.097%;
  left: 31px;
  left: 10%;
}
#map-shikoku {
  bottom: 0px;
  left: 64px;
  left: 20.645%;
}
#map-kyusyu {
  bottom: 0px;
  left: -28px;
  left: -9.032%;
}

/* section-08 reason    */
#y24-reason {
  background-image: url('../images/sp-s08-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  background-size: 159px 159px;
}
#y24-reason .y24-section_p {
  margin-bottom: unset;
  padding-bottom: 48px;
}
.y24-reason-crads {
  margin-left: auto;
  margin-right: auto;
}
.y24-reason-card {
  display: flex;
  width: 350px;
  height: 94px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background-color: white;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}
.y24-reason-card:last-of-type {
  margin-bottom: unset;
}
.y24-reason_pic {
  display: block;
  width: 88px;
  height: auto;
  position: relative;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}
.y24-reason_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-reason-card_p {
  display: block;
  width: fit-content;
  height: fit-content;
  /* font-size: 2rem; */
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 44px;
  transform: translateY(-50%);
}

/* section-09 point    */
#y24-point {
  background-image: url('../images/sp-s09-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  background-size: 224px 119px;
}

#y24-point .y24-section-inner .y24-section_p:last-of-type {
  margin-bottom: 30px;
}

.y24-point-cards,
.y24-deff-cards,
.y24-payment-cards,
.y24-support-cards {
}
.y24-point-card,
.y24-deff-card,
.y24-payment-card,
.y24-support-card {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding-top: 24px;
  background-color: white;
  border-radius: 10px;
}
.y24-support-cards .y24-support-card:nth-of-type(2) {
  display: none;
}

.y24-deff-card {
  padding-bottom: 12px;
}
.y24-payment-card {
  padding-bottom: 24px;
}
.y24-point-card:last-of-type,
.y24-deff-card:last-of-type {
  margin-bottom: unset;
}
.y24-point-card:nth-of-type(2) {
  padding-bottom: 36px;
}
.y24-point-card:nth-of-type(3) {
  padding-bottom: 12px;
}
.y24-payment-card_p.y24-fs14 {
}
.y24-point-card-thum {
  display: block;
  width: 220px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-deff-card-thum {
  display: block;
  width: 230px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-payment-card-thum4 {
  /* display: flex; */
  display: grid;
  width: 225px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(2, 97px);
  gap: 20px;
}
.y24-payment-card-thum3 {
  /* display: flex; */
  display: grid;
  width: 280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  grid-template-columns: repeat(3, 90px);
}

.y24-point-card_pic,
.y24-deff-card_pic {
  display: block;
  width: 220px;
  height: auto;
}
.y24-payment-card-thum4 .y24-payment-card_pic {
  display: block;
  width: 97px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-payment-card-thum3 .y24-payment-card_pic {
  display: block;
  width: 72px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.y24-point-card_img,
.y24-deff-card_img,
.y24-payment-card_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-point-card-num_pic {
  display: block;
  width: 65px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.y24-point-card-text,
.y24-deff-card-text,
.y24-support-card-text {
  width: 310px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-payment-card-text {
  width: 280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.y24-point-card_h3,
.y24-deff-card_h3,
.y24-payment-card_h3 {
  padding-top: 14px;
  padding-bottom: 22px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
  /* font-size: 2rem; */
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
.y24-support-card_h3 {
  padding-top: 14px;
  padding-bottom: 22px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
  /* font-size: 2rem; */
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}
.y24-support-card-fs18 {
  /* font-size: 1.8rem; */
  font-size: 18px;
}
.y24-point-card_p,
.y24-deff-card_p {
  padding-bottom: 12px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  line-height: 1.643;
}
.y24-payment-card_p,
.y24-support-card_p {
  padding-bottom: 12px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  line-height: 1.643;
}
.y24-payment-card_p.y24-fs14,
.y24-support-card_p.y24-fs14 {
  font-size: 14px;
}

.y24-payment-card-box_p {
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  font-size: 10px;
  text-align: center;
}

/* section-10 defference    */
#y24-defference {
  background-image: url('../images/sp-s10-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 184px;
  background-size: 150px 212px;
}

/* section-11 payment    */
#y24-payment {
  background-image: url('../images/sp-s11-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 136px;
  background-size: 169px 150px;
}

/* section-12 support    */
#y24-support {
  background-image: url('../images/sp-s12-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  background-size: 171px 171px;
}

/* section-13 application    */
#y24-application {
  background-image: url('../images/sp-s13-bckimg.svg');
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 184px;
  background-size: 178px 102px;
  padding-right: 3.846%;
  padding-left: 3.846%;
}
.y24-application_pic.y24-sp-pic {
  display: block;
}
.y24-application_pic.y24-pc-pic {
  display: none;
}

.y24-application_pic {
  /* display: block; */
  /* width: 361px; */
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-application_img {
  display: block;
  width: 100%;
  /* height: auto; */
  /* width: 320px; */
  /* height: 686px; */
  height: auto;
}
/* section-14 faq    */
#y24-faq {
  background-image: url('../images/sp-s14-bckimg.svg');
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 154px 154px;
}

#y24-sp-menu .y24-container {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
}

#y24-faq .y24-container {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 16px; */
}
.y24-list {
}
/* ここまで調整用スタイル */

.y24-details {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding-top: 18px;
  /* padding-left: 32px; */
  padding-right: 37px;
  background-color: white;
  border-radius: 10px;
  /* border-radius: clamp(1px, 2.564vw, 40px); */
}

#y24-faq .y24-details {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding-top: 18px;
  padding-left: 32px;
  padding-right: 37px;
  background-color: white;
  border-radius: 10px;
  /* border-radius: clamp(1px, 2.564vw, 40px); */
}


.y24-summary {
  display: block;
  position: relative;
  padding-right: 30px;
  padding-bottom: 18px;
  color: #2297c8;
  font-family: 'Zen Kaku Gothic New';
  /* font-size: 1.4rem; */
  font-size: 14px;
  line-height: 1.643;
  font-weight: bold;
  cursor: pointer;
  text-align: justify;
  list-style: none;
}
summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}
.y24-summary::before {
  content: '';
  width: 15px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: -20px;
  background-image: url('../images/sp-faq-q-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.y24-details[open] .y24-summary::after {
  transform: rotate(180deg);
}
.y24-summary::after {
  content: '';
  width: 13px;
  height: 9px;
  position: absolute;
  top: 5px;
  right: -16px;
  /* right: clamp(-64px, -4.103vw, -1px); */
  background-image: url('../images/sp-faq-close-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s all;
}

.y24-answer {
  width: 100%;
  /* overflow: hidden; */
}
.y24-answer_p {
  /* display: block; */
  /* width: 281px; */
  width: 100%;
  height: auto;
  position: relative;
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  /* font-size: 1.4rem; */
  font-size: 14px;
  line-height: 1.643;
  /* padding-left: 41px; */
  /* padding-right: 28px; */
  padding-bottom: 18px;
}
.y24-answer_p::before {
  content: '';
  width: 13px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: -20px;
  background-image: url('../images/sp-faq-a-pic.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
/* section-15 blog    */
#y24-blog {
  padding-bottom: unset;
}
.y24-blog-slider {
  width: 100%;
  height: 289px;
  margin-bottom: 24px;
  background-color: aqua;
}
/* footer */
.y24-footer {
  background-color: #cfe01a;
}
.y24-footer-top {
  width: 100%;
  height: 76px;
  background-image: url('../images/sp-s15-bckimg.svg');
  background-position: right 0 bottom -3px;

  background-repeat: no-repeat;
  background-color: white;
  background-size: 194px 76px;
}

.y24-footer_pic {
  display: block;
  width: 174px;
  height: auto;
  margin-top: 59px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
.y24-footer-linkbtn-area {
  display: flex;
  width: 354px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  padding-bottom: 35px;
}
.y24-footer-contact-linkbtn_a {
  display: grid;
  width: 160px;
  height: 47px;
  background-color: white;
  border-radius: 50px;
  border: solid #f05778 2px;

  text-decoration: none;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
  color: #f05778 !important;
  text-align: center;
  align-items: center;
}
.y24-footer-contact-linkbtn_a:hover{
  border: solid #f05778 2px;
  background-color:#f05778;
  color: white !important;
}
.y24-footer-application-linkbtn_a {
  display: grid;
  width: 160px;
  height: 47px;
  border-radius: 50px;
  border: solid #f05778 2px;
  background-color:#f05778;

  text-decoration: none;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-family: 'Zen Kaku Gothic New';
  font-weight: bold;
  color: white !important;
  text-align: center;
  align-items: center;
}
.y24-footer-application-linkbtn_a:hover{
  background-color: white;
  border: solid #f05778 2px;
  color: #f05778 !important;
}
.y24-footer-navmenu {
  width: 360px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}
.y24-footer-navmenu .y24-details {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding-left: 16px;
  padding-right: 37px;
  /* border-radius: clamp(1px, 2.564vw, 40px); */


font-size: 14px;

  background-color: unset;
  border-radius: unset;
  padding-top: 16px;
}
.y24-footer-navmenu .y24-details::before {
  content: '';
  content: unset;
  position: absolute;
  width: 360px;
  width: 380px;
  height: 40px;
  margin-left: -70px;
  border-bottom: dotted var(--textcolor-black) 2px;
}
.y24-footer-navmenu .y24-details[open]:last-of-type::before {
  content: '';
  content: none;
}

.y24-footer-navmenu .y24-details:last-of-type::before {
  content: none;
}
.y24-footer-navmenu .y24-summary {
  width: 100%;
  margin-bottom: 0;
  color: var(--textcolor-black);
  /* padding-left: 14px; */
  padding-bottom: 14px;
  /* border-bottom: dashed 1px #000000; */
}

.y24-footer-navmenu .y24-summary::before {
  width: 360px;
  content: '';
  background-image: none;
  border-bottom: dotted 1px #000000;
top:15px;}
.y24-footer-navmenu .y24-details:last-of-type .y24-summary::before {
content: none;
}
.y24-footer-navmenu .y24-details[open]:last-of-type .y24-summary::before {
  content: '';
  }
.y24-footer-navmenu .y24-answer {
  /* width: 260px; */
  word-wrap: clamp(1px, 66.667vw, 1080px);
  height: auto;
  /* position: relative; */
  /* right:0; */
  margin-left: auto;
  margin-right: 0;
}

.y24-answer_a,
.y24-answer_link {
  display: grid;
  width: 100%;
  height: 48px;
  /* font-size: 1.4rem; */
  font-size: 14px;
  color: var(--textcolor-black);
  text-align: left;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.y24-answer_a::before {
  content: '';
  width: 110%;
  height: 48px;
  height: 2px;
  position: absolute;
  bottom: 0;
  border-bottom: dotted var(--textcolor-black) 1px;
}
.y24-answer_link::before {
  content: '';
  width: 110%;
  height: 48px;
  height: 2px;
  position: absolute;
  bottom: 0;
  border-bottom: dotted var(--textcolor-black) 1px;
}
.y24-footer-sns-area {
  display: flex;
  width: 87px;
  height: auto;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 12px;
  justify-content: space-between;
}
.y24-footer-cr {
  display: block;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 45px;
  font-size: 12px;
}
.y24-footrt-sitemap {
  display: none;
}
/*  */
/*  */
/*  */
@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */

  .y24-768-none {
    display: none;
  }
  .y24-header {
    /*  */
    display: flex;
    height: 66px;
    background-color: white;
  }
  .y24-header-logo {
    width: 287px;
    height: 54px;
    border-radius: 0 0 39px 0;
  }
  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    width: 174px;
    height: 23px;
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }

  .y24-navmenu-sp768 {
    /*  */
    display: flex;
    position: relative;
    width: 147px;
    height: 66px;

    justify-content: space-between;
    margin-left: auto;
    margin-right: 100px;
  }
  .y24-sp-contact-btn {
    /*  */
    display: block;
    width: 65px;
    height: 54px;
    position: relative;
    background-color: white;
    border: solid 2px #f05778;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .y24-sp-contact-btn_pic {
    /*  */
    display: block;
    position: relative;
    width: 18px;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-sp-contact-btn_img,
  .y24-sp-application-btn_img {
    /*  */
    display: block;
    width: 100%;
    height: auto;
  }

  .y24-sp-contact-btn_p {
    /*  */
    display: block;
    margin-top: 13px;
    font-size: 10px;
    font-weight: bold;
    color: #f05778;
  }

  .y24-sp-application-btn {
    /*  */
    display: block;
    width: 65px;
    height: 54px;
    position: relative;

    background-color: #f05778;
    border: solid 2px white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  .y24-sp-application-btn_pic {
    /*  */
    display: block;
    width: 18px;
    height: auto;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-sp-application-btn_p {
    /*  */
    display: block;
    margin-top: 13px;

    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .y24-sp-menu-btn {
    position: absolute;
    background-color: var(--sp-btn-color);
    /*  */
    width: 54px;
    height: 54px;
    right: 20px;
    border-radius: 20px;
    top: 6px;
  }
  .y24-sp-menu-btn_span {
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span::before {
    content: '';
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background-color: white;
    top: -8px;
    /* left: 0; */
    transform: translateY(-50%) rotate(0);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span::after {
    content: '';
    display: block;
    position: relative;
    width: 14px;
    height: 3px;
    background-color: white;
    bottom: -8px;
    transform: translateY(-50%) rotate(0);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span.y24-sp-menu-open {
    background-color: var(--sp-btn-color);
  }
  .y24-sp-menu-open.y24-sp-menu-btn_span::before {
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.5s all;
  }
  .y24-sp-menu-open.y24-sp-menu-btn_span::after {
    width: 28px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.5s all;
  }
  .y24-submenu {
    display: grid;
    grid-template-columns: 135px 190px 135px;
    gap: 18px;
    height: 210px;
    margin-top: 18px;
  }
  .y24-submenu-item_p {
    top: 6px;
    font-size: 24px;
  }
  .y24-seasonal-cards {
    display: grid;
    /* width: 100%; */
    width: fit-content;
    height: auto;
    grid-template-columns: 110px 110px 110px 110px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
  }
  .y24-search-linkbtn-area {
    /* display: flex; */
    /* display: grid; */
    grid-template-columns: repeat(3, 160px);
  
  }
  .y24-special-banners {
    grid-template-columns: 464px;
    gap: 24px;
  }
  .y24-popular-cards {
    /* display: flex; */
    /* width: 100%; */
    display: grid;
    height: auto;
    justify-content: center;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2, auto);
    text-align: center;
    gap: 20px;
  }

  /*  */
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  /* w:1440px で、font-size:10px */
  html {
    /* font-size: clamp(1px, 0.694vw, 10px); */
    font-size: 10px;
  }
  .y24-pc-none,
  .y24-submenu {
    display: none;
  }
  .y24-sp-none {
    display: initial;
  }
  .y24-sp-menu-btn,
  .y24-sp-menu {
    display: none;
  }
  .y24-pc-nav-btn {
    display: block;
  }
  .y24-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    /*  */
    display: flex;
    height: 84px;
  }
  .y24-header-logo {
    background-color: var(--maincolor-green);
    border-radius: 0 0 clamp(1px, 10vw, 156px) 0;
    /*  */
    width: 756px;
    height: 84px;
    border-radius: 0 0 42px 0;
  }

  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
    width: 145px;
    height: 17px;
    left: 24px;
    transform: translateY(-50%);
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }
  .y24-pc-nav-btn-area {
    display: flex;
    width: 513px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 202px;
    transform: translateY(-50%);
    justify-content: space-between;
  }

  .y24-pc-nav-btn {
    width: 79px;
    height: 58px;
    position: relative;
  }
  .y24-pc-nav-btn_pic {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .y24-pc-nav-btn_img {
    display: block;
    width: 100%;
    height: auto;
  }
  .y24-pc-nav-btn_p {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: unset;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--textcolor-black);
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }

  .y24-navmenu-sp768 {
    display: flex;
    position: relative;
    width: 147px;
    height: 66px;

    justify-content: space-between;
    margin-left: auto;
    margin-right: 100px;
    /*  */
    width: 177px;
    height: 84px;
    margin-right: 11px;
  }

  .y24-sp-contact-btn {
    display: block;
    width: 65px;
    height: 54px;
    position: relative;
    background-color: white;
    border: solid 2px #f05778;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    /*  */
    width: 76px;
    height: 76px;
  }

  .y24-sp-contact-btn_pic {
    display: block;
    position: relative;
    width: 18px;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /*  */
    width: 27px;
    height: 27px;
  }

  .y24-sp-contact-btn_img,
  .y24-sp-application-btn_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }

  .y24-sp-contact-btn_p {
    /*  */
    display: block;
    margin-top: 13px;
    font-weight: bold;
    color: #f05778;
    /*  */
    font-size: 12px;
  }

  .y24-sp-application-btn {
    display: block;
    width: 65px;
    height: 54px;
    position: relative;

    background-color: #f05778;
    border: solid 2px white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    /*  */
    width: 76px;
    height: 76px;
  }

  .y24-sp-application-btn_pic {
    display: block;
    width: 18px;
    height: auto;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /*  */
    width: 27px;
    height: 27px;
  }

  .y24-sp-application-btn_p {
    display: block;
    margin-top: 13px;

    font-size: 10px;
    font-weight: bold;
    color: white;
    /*  */
    font-size: 12px;
  }

  .y24-seasonal-cards {
    display: grid;
    /* width: 100%; */
    width: fit-content;
    height: auto;
    grid-template-columns: 220px 220px 220px 220px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
  }
  .y24-search-linkbtn-area {
    /* display: flex; */
    /* display: grid; */
    grid-template-columns: 240px 240px 240px;
    gap: 24px;
  }
  .y24-special-banners {
    grid-template-columns: 464px 464px;
    gap: 24px;
  }

  /*  */
  /* 1440px */
  /*  */
}

@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  .y24-header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    /*  */
    display: flex;
    height: 84px;
    /*  */
    height: 122px;
    margin-left: auto;
    margin-right: auto;
    background-color: unset;
  }
  .y24-header-logo {
    background-color: var(--maincolor-green);
    border-radius: 0 0 clamp(1px, 10vw, 156px) 0;
    /*  */
    width: 756px;
    height: 84px;
    border-radius: 0 0 42px 0;
    /*  */
    width: 1097px;
    height: 122px;
    border-radius: 0 0 60px 0;
  }

  .y24-header-logo_pic {
    display: block;
    position: relative;
    top: 50%;
    /*  */
    width: 145px;
    height: 17px;
    left: 24px;
    transform: translateY(-50%);
    /*  */
    width: 210px;
    height: 27px;
    left: 35px;
  }
  .y24-header-logo_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
    /*  */
  }
  .y24-pc-nav-btn-area {
    display: flex;
    width: 513px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 202px;
    transform: translateY(-50%);
    justify-content: space-between;
    /*  */
    width: 744px;
    left: 293px;
  }

  .y24-pc-nav-btn {
    width: 79px;
    height: 58px;
    position: relative;
    /*  */
    width: 114px;
    height: 84px;
  }
  .y24-pc-nav-btn_pic {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*  */
  }
  .y24-pc-nav-btn_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
  }
  .y24-pc-nav-btn_p {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: unset;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--textcolor-black);
    /* font-size: 1.2rem; */
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    /*  */
    font-size: 16px;
  }

  .y24-navmenu-sp768 {
    display: flex;
    position: relative;
    width: 147px;
    height: 66px;

    justify-content: space-between;
    margin-left: auto;
    margin-right: 100px;
    /*  */
    width: 177px;
    height: 84px;
    margin-right: 11px;
    /*  */
    width: 256px;
    height: 110px;
    margin-left: 71px;
    margin-right: auto;
  }

  .y24-sp-contact-btn {
    display: block;
    position: relative;
    background-color: white;
    border: solid 2px #f05778;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    /*  */
    width: 76px;
    height: 76px;
    /*  */
    width: 110px;
    height: 110px;
  }

  .y24-sp-contact-btn_pic {
    display: block;
    position: relative;
    width: 18px;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /*  */
    width: 27px;
    height: 27px;
    top: 15px;
    /*  */
    width: 38px;
    height: 38px;
    top: 28px;
  }

  .y24-sp-contact-btn_img,
  .y24-sp-application-btn_img {
    display: block;
    width: 100%;
    height: auto;
    /*  */
    /*  */
  }

  .y24-sp-contact-btn_p {
    /*  */
    display: block;
    margin-top: 13px;
    /* font-size: 10px; */
    font-weight: bold;
    color: #f05778;
    /*  */
    margin-top: 30px;
    font-size: 1.2rem;
    /*  */
    margin-top: 38px;
    font-size: 16px;
  }

  .y24-sp-application-btn {
    display: block;
    width: 65px;
    height: 54px;
    position: relative;

    background-color: #f05778;
    border: solid 2px white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    /*  */
    width: 76px;
    height: 76px;
    /*  */
    width: 110px;
    height: 110px;
  }

  .y24-sp-application-btn_pic {
    display: block;
    width: 18px;
    height: auto;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /*  */
    width: 27px;
    height: 27px;
    top: 15px;
    /*  */
    width: 38px;
    height: 38px;
    top: 28px;
  }

  .y24-sp-application-btn_p {
    display: block;
    margin-top: 13px;

    font-weight: bold;
    color: white;
    /*  */
    margin-top: 30px;
    font-size: 1.2rem;
    /*  */
    margin-top: 38px;
    font-size: 16px;
  }
}
