.y24-searcharea {
  width: 360px;
  height: 424px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}
.y24-search-title {
  background-color: var(--textcolor-pink);
  height: 50px;
}
.y24-search-title_p {
  display: block;
  margin: 0;
  width: fit-content;
  height: fit-content;
  padding-left: 32px;
  background-image: url("../../images/sp-search.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center left;
  position: relative;
  top: 50%;
  left: 50.5%;
  letter-spacing: 0.14em;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: white;
}
#y24-searchForm {
  display: block;
  width: 330px;
  height: auto;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
.y24-search-title_p-sp-none {
  display: none;
}
.y24-search-item {
  width: 100%;
  height: 48px;
  font-size: 16px;
  border: solid 1px #c5c5c5;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 rgba(51, 51, 51, 0.25);
  position: relative;
}
.y24-search-item label {
  /* position: relative; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* padding-left: 26px;? */
  /* padding-right: 26px; */
  font-weight: bold;

  left: 26px;
}
.y24-search-item select,
.y24-search-item input {
  width: 221px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-appearance: none; /* Chrome, Safari, Opera など */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  background: url("../../images/sp-faq-close-pic.svg") no-repeat right 17px
    center;
  border: none; /* 枠を消す場合 */

  width: 100%;
  height: 100%;
  padding-left: 82px;
  color: var(--textcolor-black);
}
.y24-search-item select::placeholder,
.y24-search-item input::placeholder {
  color: var(--textcolor-black);
}
.y24-search-item select:hover,
.y24-search-item input:hover {
  cursor: pointer;
}

.y24-search-item:nth-of-type(3) select {
  /* width: 184px; */
  padding-left: 127px;
}
.y24-search-item:nth-of-type(4) input {
  /* width: 207px; */
  padding-left: 97px;
}
.y24-search-result {
  display: flex;
  width: fit-content;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: bold;
}
.y24-search-result p {
  display: block;
  height: 21px;
}
.y24-search-result p:first-of-type {
  padding-left: 36px;
  background-image: url("../../images/sp-school.svg");
  background-repeat: no-repeat;
  background-size: 32px 23px;
  background-position: center left;
}
.y24-search-result_num2,
.y24-search-result_num1 {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.1;
  position: relative;
  top: 50%;
  border-radius: 2px;
  background-color: white;
  color: var(--textcolor-black);
}
.y24-search-result_num1 {
  margin: 0 8px 0 1px;
}
.y24-search-result_num2 {
  margin: 0 1px 0 8px;
}
#y24-submitButton {
  width: 100%;
  height: 47px;
  margin-top: 2px;
  border-radius: 60px;
  background-color: rgba(241, 87, 121, 0.5); /* 初期状態の背景色 */
  color: black;
  border: 1px solid rgba(241, 87, 121, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed; /* 初期状態では押せないように見せる */
  transition: 0.3s all ease;
}
/* 全ての項目が選択された状態のボタンスタイル */
#y24-submitButton.enabled {
  background-color: var(--sp-btn-color);
  color: white;
  border: 2px solid var(--sp-btn-color);
  cursor: pointer;
}
#y24-submitButton:hover,
#y24-submitButton.enabled:hover {
  color: var(--textcolor-pink);
  background-color: white;
}
#y24-entryDate::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
}

@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  .y24-searcharea {
    width: 960px;
    height: auto;
    margin-top: 509px;
    margin-top: 51.31vw;
    padding-bottom: 12px;
  }
  .y24-search-title {
    height: 53px;
  }
  .y24-search-title_p-sp-none {
    display: initial;
  }
  .y24-search-title_p {
    left: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    letter-spacing: 0.02em;
  }






  #y24-searchForm {
    display: grid;
    width: 960px;
    height: auto;
    grid-template-columns: 192px 192px 192px 200px 127px;
    gap: 4px;
    margin-left: 20px;
    position: relative;
    margin-top: 24px;
  }
  .y24-search-item {
    display: flex;
    width: 192px;
    height: 52px;
    border: solid 2px #333333;
    border-radius: 10px;
  }
  .y24-search-item:nth-of-type(4) {
    width: 200px;
  }
  /* .y24-search-item label {
    padding-left: 8px;
    padding-right: 4px;
    width: 50px;
    font-family: "Noto Sans JP";
    font-size: 14px;
    top: unset;
    transform: unset;
    padding-top: 12px;
  } */
  .y24-search-item label {
    left: 10px;
  }
  .y24-search-item select,
  .y24-search-item input {
    /* display: block; */
    width: 189px;
    padding-left: 48px;
    padding-right: 16px;
    background-position: right 8px center;
  }

  .y24-search-item:nth-of-type(3) label {
    /* width: 90px; */
  }
  .y24-search-item:nth-of-type(3) select {
    /* width: 100px; */
    padding-left: 84px;
  }
  .y24-search-item:nth-of-type(4) label {
    /* width: 80px; */
  }
  .y24-search-item:nth-of-type(4) input {
    width: 200px;
    padding-left: 60px;
    background-position: right 10px center;
  }
  #y24-submitButton {
    width: 120px;
    height: 50px;
    margin-left: 8px;
    border-radius: 30px;
    font-size: 16px;
  }
  .y24-search-result {
    position: absolute;
    top: -80px;
    right: 40px;
    color: white;
  }
  .y24-search-result_p{
    font-size: 16px;
    line-height: 1.5;
  }
  .y24-search-result p:first-of-type {
    padding-left: 34px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center left;
    background-image: url("../../images/pc-school.svg");
  }
.y24-search-result .y24-search-result_num2,
.y24-search-result .y24-search-result_num1 {
  width: 25px;
  height: 24px;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}
.y24-search-result .y24-search-result_num1{
  margin-right: 6px;
  margin-left: 3px;
}
.y24-search-result .y24-search-result_num2{
  margin-left: 10px;}

}
@media screen and (min-width: 1440px) {
}

/* カレンダー */
/* CSS */
#y24-calendar {
  display: none; /* JavaScriptで制御するため、ここでは非表示に設定 */
  width: 333px;
  height: 294px;
  position: absolute;
  margin: 0 auto; /* 中央揃え */
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  ); /* Responsive grid */
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 0px;
  top: 931px;
  left: 50%;
  /* bottom: -378px; */
  transform: translateX(-50%);
  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6)); */
}
#y24-calendar .calendar-header {
  font-size: 24px;
  text-align: center;
  font-family: "Zen Maru Gothic";
  font-weight: bold;
}
#y24-calendar .calendar-instance {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
}
#y24-calendar .calendar-instance table {
  width: 100%;
}
td.today::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the circle */
  width: 33px; /* Adjust size as needed */
  height: 33px; /* Adjust size as needed */
  border: 1px solid #d6e816;
  border-radius: 50%;
  z-index: -1;
}
#y24-calendar .calendar-instance .selected::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the circle */
  width: 33px; /* Adjust size as needed */
  height: 33px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: lightgrey;
  z-index: -1;
}

#y24-calendar .calendar-instance thead tr th,
#y24-calendar .calendar-instance tbody tr td {
  width: 14.29%;
  position: relative;
  text-align: center;
  line-height: 1.5;
  z-index: 100;
}
#y24-calendar .calendar-instance thead tr th {
  font-family: "Zen Maru Gothic";
  font-size: 16px;
}
#y24-calendar .calendar-instance tbody tr td {
  font-family: "Zen Maru Gothic";
  font-size: 22px;
  cursor: pointer;
}

#y24-calendar button {
  width: 32px;
  height: 32px;
  font-size: 24px;
  position: absolute;
  top: 10px;
  border: unset;
  background-color: unset;
}
#y24-calendar button:nth-of-type(1) {
  left: 10px;
}

#y24-calendar button:nth-of-type(2) {
  right: 10px;
}

@media screen and (min-width: 768px) {
}
@media (min-width: 992px) {
  #y24-calendar {
    width: 622px;
    grid-template-columns: repeat(2, 1fr);
    /* bottom: -540px; */
    /* top: 630px; */
    top : calc( 51.31vw + 129px );
  }
}
.close-button-container {
  text-align: right;
}

