/* section-01 */
#y24-firstview {
  width: 100%;
  height: auto;
  background-image: url("../../images/sp-mv-backgraund.svg"),
    url("../../images/sp-main-image@3x.webp");
  background-size: 102% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center clamp(285px, 73.077vw, 1140px), center 0;
  padding-bottom: 49px;
  overflow-x: hidden;
}
#y24-firstview.y24-section {
  padding-top: 0;
}
.y24-submenu {
  display: grid;
  grid-template-columns: 90px 131px 90px;
  gap: 8px;
  width: fit-content;
  height: 134px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}
.y24-submenu-item {
  width: 100%;
  height: auto;
  position: relative;
}
.y24-submenu-item_p {
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.y24-submenu-item_p-small {
  font-size: 14px;
}
.y24-submenu-item:nth-of-type(2n + 1) {
  margin-top: 0;
  margin-bottom: auto;
}
.y24-submenu-item:nth-of-type(2n) {
  margin-top: auto;
  margin-bottom: 0;
}
.y24-submenu-item_img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  transition: 0.3s all ease;
}
.y24-submenu-item_img:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}
.y24-fv-title {
  display: block;
  width: clamp(346px, 88.718vw, 1384px);
  height: auto;
  margin-top: 198px;
  margin-right: 0;
  margin-left: auto;
}
.y24-fv-title_pic {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
}
.y24-fv-title_pic img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .y24-submenu {
    display: grid;
    grid-template-columns: 135px 190px 135px;
    gap: 18px;
    height: 210px;
    margin-top: 18px;
  }
  .y24-submenu-item_p {
    top: 6px;
    font-size: 24px;
  }

  .y24-submenu {
    display: grid;
    grid-template-columns: 135px 190px 135px;
    gap: 18px;
    height: 210px;
    margin-top: 18px;
  }
  .y24-submenu-item_p {
    top: 6px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #y24-firstview {
    background-image: url("../../images/pc-mv-backgraund.svg"),
      url("../../images/pc-main-image@3x.webp");
    background-size: 102% auto, 100% auto;
    background-position: center clamp(1px, 45.556vw, 656px), center 0;
    background-position: center 656px, center 0;
    margin-left: auto;
    margin-right: auto;
  }

  .y24-fv-title {
    width: 531px;
    margin: 0;
    position: absolute;
    top: 140px;
    right: 0px;
  }
  .y24-submenu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  #y24-firstview {
    padding-bottom: 116px;
    background-position: center 641px, center 0;
    background-position: center 44.514vw, center 0;
  }
  .y24-fv-title {
    width: 772px;
    width: 53.611vw;
    top: 204px;
    top: 14.167vw;
  }
}
