/* section-03 pick up  */
#y24-pickup {
  padding-top: 54px;
  background-image: url("../../images/sp-s03-bckimg.svg");
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 128px 133px;
}
#y24-pickup .y24-section-title_p {
  margin-bottom: 0;
  padding-bottom: 20px;
}
#y24-pickup .y24-section_p {
  margin-top: 0;
  padding-bottom: 16px;
}

/* splid */
.y24-pickup-splide {
  margin-top: 48px;
  margin-bottom: 112px;
  position: relative;
}
.y24-pickup-splide .splide__pagination {
  display: none;
}
.y24-pickup-splide .splide__slide {
  width: 300px !important;
  width: 312px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.y24-pickup-splide .splide__arrows {
  display: grid !important;
  position: absolute !important;
  width: 80px !important;
  height: 40px !important;
  grid-template-columns: repeat(2, 40px) !important;
  left: 50% !important;
  bottom: -70px !important;
  transform: translateX(-50%);
}

.y24-pickup-splide .splide__arrow {
  display: block !important;
  border: solid 1px #333333 !important;
  background-color: white !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: unset !important;
  left: unset !important;
  top: unset !important;
  transform: unset !important;
  position: unset !important;
}

.y24-pickup-splide .splide__track {
  padding-top: 30px;
}

.y24-pickup-splide .y24-splide_card {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 18px;
}
.y24-pickup-splide .y24-splide-imgframe {
  width: 100%;
  height: auto;

  border-radius: 10px;
  overflow: hidden;
}
.y24-pickup-splide .y24-splide_slide_img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.y24-pickup-splide .y24-splide_card:hover {
  cursor: pointer;
}
.y24-pickup-splide .y24-splide_card:hover .y24-splide_slide_img {
  transform: scale(1.1);
  transition: all 1s;
}
.y24-pickup-splide .y24-splide_slide-text {
  display: block;
  font-size: 18px;
  font-family: "Zen Kaku Gothic New";
  font-weight: 500;
  color: var(--textcolor-black);
  padding: 12px 12px 0;
}
.y24-pickup-splide .y24-splide_slide-start {
  display: block;
  font-size: 14px;
  color: var(--textcolor-black);
  border-top: dotted 1px var(--textcolor-black);
  padding-top: 8px;
  text-align: center;
}
.y24-pickup-splide .y24-splide_slide-fukidashi {
  display: block;
  width: 165px;
  height: auto;
  background-image: url("../../images/fukidashi-pink.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -30px;
  right: 0px;
  overflow: unset;
  padding: 8px 12px 16px;
  z-index: 999;
}
.y24-pickup-splide .y24-splide_slide-fukidashi p:first-of-type {
  margin: 0;
  font-family: "Zen Kaku Gothic New";
  font-size: 14px;
}
.y24-pickup-splide .y24-splide_slide-fukidashi p:last-of-type {
  margin: 0;
  font-family: "Zen Kaku Gothic New";
  font-size: 14px;
  font-weight: bold;
}

.y24-pc-cta-area {
  width: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.y24-pc-cta_p {
  margin-top: 96px;
  margin-bottom: 24px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.y24-pc-cta_p::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--textcolor-black);
  top: 50%;
  left: 4%;
  transform: rotate(64deg) translateY(-50%);
}
.y24-pc-cta_p::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: var(--textcolor-black);
  top: 50%;
  right: 4%;
  transform: rotate(-64deg) translateY(-50%);
}
.y24-pc-cta_pic {
  display: block;
  width: 360px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-pc-cta_img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
}

@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  #y24-pickup {
    padding-left: var(--x-padding-base);
    padding-right: var(--x-padding-base);
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  .y24-pc-cta_pic {
    display: block;
    width: 760px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .y24-pc-cta_p {
    font-size: 36px;
    margin-top: 144px;
    margin-bottom: 52px;
  }
  .y24-pc-cta_p::before {
    width: 120px;
    top: 44%;
    left: 4%;
  }
  .y24-pc-cta_p::after {
    width: 120px;
    top: 44%;
    right: 4%;
  }
  /* splid */
  #y24-pickup {
    overflow: hidden;
  }
  .y24-pickup-splide .splide__track {
    overflow: visible;
  }

  .y24-pickup-splide {
    margin-bottom: 168px;
  }

  .y24-pickup-splide .splide__slide {
    width: 460px !important;
    padding-left: 41px !important;
    padding-right: 41px !important;
  }
  .y24-pickup-splide .splide__arrows {
    width: 128px !important;
    height: 64px !important;
    grid-template-columns: repeat(2, 64px) !important;

    left: unset !important;
    transform: unset !important;
    right: 0 !important;
    bottom: -110px !important;
  }

  .y24-pickup-splide .splide__arrow {
    width: 64px !important;
    height: 64px !important;
  }

  .y24-pickup-splide .splide__track {
    padding-top: 30px;
  }

  .y24-pickup-splide .y24-splide_card:hover .y24-splide_slide_img {
    transform: scale(1.1);
    transition: all 1s;
  }
  .y24-pickup-splide .y24-splide_slide-text {
    font-size: 24px;
    padding: 16px 16px 0;
  }
  .y24-pickup-splide .y24-splide_slide-start {
    font-size: 18px;
  }
  .y24-pickup-splide .y24-splide_slide-fukidashi {
    width: 198px;
    padding: 8px 18px 18px;
  }
  .y24-pickup-splide .y24-splide_slide-fukidashi p:first-of-type {
    font-size: 18px;
  }
  .y24-pickup-splide .y24-splide_slide-fukidashi p:last-of-type {
    font-size: 18px;
  }
}
