/* section-04 seasonal    */
#y24-seasonal {
  padding-bottom: 160px;
  background-image: url("../../images/sp-s04-bckimg.svg");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 144px 155px;
}
#y24-seasonal.y24-section {
  padding-top: 38px;
}
#y24-seasonal .y24-section-title_h2{
  padding-bottom: 4px;
}
#y24-seasonal .y24-section-title_p {
  margin-bottom: 0;
  padding-bottom: 0;
}
#y24-seasonal .y24-section_p:nth-of-type(2) {
  padding-bottom: 0;
}
.y24-seasonal-cards {
  display: grid;
  width: fit-content;
  height: auto;
  grid-template-columns: repeat(3, 110px);
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 31px;
}
.y24-seasonal-3cards {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.y24-seasonal-card_a {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s all ease;
}
.y24-seasonal-card_a:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}
.y24-seasonal-card_a:hover.y24-seasonal-nonvover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.y24-seasonal-card_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-seasonal-card_pic img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-special {
  margin-top: 35px;
  padding-top: 17px;
  background-image: url("../../images/sp-special-bckimg.svg");
  background-size: auto 105px;
  background-repeat: no-repeat;
  background-position: top center;
}
.y24-special .y24-section-title_h2 {
  margin-bottom: 0px;
  padding-bottom: 0;
  /* height: 105px; */
  height: fit-content;
  font-size: 18px;
  line-height: .8;
}
#y24-seasonal .y24-special .y24-section-title_p{
  font-family: "Zen Kaku Gothic New";
  font-size: 18px;
  padding-bottom: 35px;
}
.y24-special .y24-font-jost {
  font-size: 38px;
}
.y24-special-banners {
  display: grid;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 350px;
  gap: 16px;
}
.y24-special-banner {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  transition: 0.3s all ease;
}
.y24-special-banner:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}
.y24-special-banner_a {
  display: block;
  width: 100%;
  height: auto;
}
.y24-special-banner_pic {
  display: block;
  width: 100%;
  height: auto;
}
.y24-special-banner_img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
  .y24-seasonal-cards {
    grid-template-columns: 110px 110px 110px 110px;
    gap: 20px;
  }
  .y24-special-banners {
    grid-template-columns: 464px;
    gap: 24px;
  }
  .y24-popular-cards {
    display: grid;
    height: auto;
    justify-content: center;
    grid-template-columns: repeat(2, 350px);
    text-align: center;
    gap: 20px;
  }
  .y24-special-banners {
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
  }
}

@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */

  .y24-seasonal-cards {
    grid-template-columns: 200px 200px 200px 200px;
  }
  #y24-seasonal {
    padding-top: 72px;
    padding-left: var(--x-padding-base);
    padding-right: var(--x-padding-base);
    padding-bottom: 130px;
  }
  .y24-special-banners {
    grid-template-columns: 420px 420px;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  #y24-seasonal {
    padding-bottom: 130px;
  }
  .y24-seasonal-cards {
    width: 960px;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 24px;
  }
  .y24-special-banners {
    grid-template-columns: 464px 464px;
    gap: 24px;
  }
  /* SPECIAL */
  .y24-special {
    padding-top: 35px;
  }
  .y24-special .y24-section-title_h2 {
    height: 267px;
    background-size: 267px 267px;
    margin-bottom: 0;
    padding-top: 64px;
  }
  .y24-special .y24-font-jost {
    font-size: 98px;
  }
  .y24-special .y24-section-title_p {
    margin-top: -104px;
    margin-bottom: 0;
    padding-bottom: 90px;
  }
}
