/* section-09 point    */
#y24-point {
  background-image: url("../../images/sp-s09-bckimg.svg");
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  background-size: 224px 119px;
  padding-top: 36px;
}
#y24-point .y24-section-title_h2{
 padding-bottom: 3px; 
}
#y24-point .y24-section-title_p{
padding-bottom: 8px;
margin-bottom: 0;
}
#y24-point .y24-section_p{
  line-height: 1.6;
  padding-bottom: 0;
}
#y24-point .y24-section_p:nth-of-type(2){
  margin-top: 0;
padding-top: 18px;
padding-bottom: 14px;
}
#y24-point .y24-992on {
  display: none;
}
#y24-point .y24-section-inner .y24-section_p:last-of-type {
  margin-bottom: 30px;
}
.y24-point-card {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding-top: 24px;
  background-color: white;
  border-radius: 10px;
}
.y24-point-card:last-of-type {
  margin-bottom: 0;
}
.y24-point-card:nth-of-type(2) {
  padding-bottom: 36px;
}
.y24-point-card:nth-of-type(3) {
  padding-bottom: 12px;
}
.y24-point-card-thum {
  display: block;
  width: 220px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-point-card_pic {
  display: block;
  width: 220px;
  height: auto;
}
.y24-point-card_img {
  display: block;
  width: 100%;
  height: auto;
}
.y24-point-card-num_pic {
  display: block;
  width: 65px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.y24-point-card-text {
  width: 310px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.y24-point-card_h3 {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Zen Kaku Gothic New";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
.y24-point-card_p {
  padding-bottom: 15px;
  font-family: "Zen Kaku Gothic New";
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  line-height: 1.643;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
  .y24-point-cards{
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  .y24-point-card_h3 {
    font-size: 24px;
  }
  .y24-point-card-text {
    width: 480px;
  }
  .y24-point-card_p {
    font-size: 16px;
  }
  .y24-point-card {
    display: grid;
    /* width: 720px; */
    width: auto;
    margin-bottom: 32px;
    padding-top: 0;
    padding-left: 8px;
    padding-bottom: 0;
    position: relative;
    grid-template-columns: 200px 1fr;
  }
  .y24-point-card:nth-of-type(2) {
    padding-bottom: 0;
  }
  .y24-point-card:nth-of-type(3) {
    padding-bottom: 0;
  }

  .y24-point-card-thum {
    width: 160px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
  }
  .y24-point-card_pic {
    width: 90%;
  }

  .y24-point-card-text {
    width: 100%;
    margin-left: 0;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 24px;
  }
  .y24-point-card_h3 {
    padding-top: 0;
    padding-bottom: 24px;
    font-size: 24px;
    text-align: justify;
  }
  .y24-point-card_p {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  #y24-point {
    padding-top: 72px;
    padding-bottom: 130px;
    /* padding-left: var(--x-padding-base); */
    /* padding-right: var(--x-padding-base); */
  }
  #y24-point .y24-992on {
    display: initial;
  }
  .y24-point-card_h3 .y24-pc-none {
    display: initial;
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  #y24-point {
    background-image: url("../../images/pc-s09-bckimg.svg");
    background-size: 422px 199px;
    padding-bottom: 105px;
  }
  #y24-point .y24-992on {
    display: none;
  }
  .y24-point-card_h3 .y24-pc-none {
    display: none;
  }
  .y24-point-card {
    display: grid;
    width: 960px;
    margin-bottom: 32px;
    padding-top: 0;
    padding-left: 8px;
    padding-bottom: 0;
    position: relative;
    grid-template-columns: 264px 1fr;
  }
  .y24-point-card:nth-of-type(2) {
    padding-bottom: 0;
  }
  .y24-point-card:nth-of-type(3) {
    padding-bottom: 0;
  }

  .y24-point-card-thum {
    width: 180px;
    height: fit-content;
    top: 50%;
    transform: translateY(-50%);
  }
  .y24-point-card_pic {
    width: 180px;
  }

  .y24-point-card-text {
    width: 636px;
    margin-left: 0;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 0;
  }
  .y24-point-card_h3 {
    padding-top: 0;
    padding-bottom: 24px;
    font-size: 24px;
    text-align: justify;
  }
  .y24-point-card_p {
    font-size: 14px;
    padding-bottom: 0;
  }
}
