@charset "UTF-8";

/* リーリース時には消すこと!!! */
* {
  /* outline: 1px rgba(255, 0, 0, 0.8) solid; */
}
/* 変数の定義 */
:root {
  --content-width: 1440px;
  --min-content-width: 375px;
  --maincolor-green: #d6e816;
  --maincolor-white: #ffffff;
  --maincolor-blue: #6fbada;
  --sp-btn-color: #f15779;
  --textcolor-black: #333333;
  --textcolor-pink: #f15779;
  --textcolor-green: #8a8e2f;
  --sp-menu-textcolor-black: #202020;

  /* @group @variables x-padding */
  --x-padding-base: 5vw;
  --x-padding: var(--x-padding-base);
  --x-padding-right: var(--x-padding);
  --x-padding-left: var(--x-padding);
}

/* 新しい構文でのセーフエリアの利用 */
@supports (padding-top: env(safe-area-inset-top)) {
  :root {
    --x-padding-right: calc(env(safe-area-inset-right) + var(--x-padding));
    --x-padding-left: calc(env(safe-area-inset-left) + var(--x-padding));
  }
}

/* 古いiOSバージョン用のフォールバック */
@supports (padding-top: constant(safe-area-inset-top)) {
  :root {
    --x-padding-right: calc(constant(safe-area-inset-right) + var(--x-padding));
    --x-padding-left: calc(constant(safe-area-inset-left) + var(--x-padding));
  }
}
@media all and (min-width: 64em) {
  :root {
    --x-padding-base: calc((100vw - 960px) / 2);
  }
}

/* @end @variables x-padding */

html {
  scroll-behavior: smooth;
  /* コンテンツ幅でのフォントサイズ */
  min-width: var(--min-content-width);
  /* max-width: var(--content-width); */
  color: var(--textcolor-black);
  font-family: "Zen Kaku Gothic New";
  font-weight: 500;
  /* w:390px で、font-size:10px */
  /* font-size: clamp(1px, 2.564vw, 40px); */
  font-size: 10px;
}

/************************************************
    レスポンシブ */

/* モバイル向けのスタイル */

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  cursor: pointer;
  color: unset;
}
a:visited,
a:active {
  color: unset;
  text-decoration: none;
}
.y24-navmenu-sp768 {
  display: none;
}
.y24-pc-none {
  display: initial;
}
.y24-sp-none {
  display: none;
}
.y24-bold {
  font-weight: bold;
}
.y24-sp-menu-btn {
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: var(--sp-btn-color);
  border-radius: 20px;
  top: 12px;
  right: 10px;
  z-index: 300;
}
.y24-sp-menu-btn_span {
  display: block;
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s all;
  animation: sp-btn-close 0.5s linear;
}
.y24-sp-menu-btn_span::before {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  height: 3px;
  background-color: white;
  top: -8px;
  left: 0;
  transform: translateY(-50%) rotate(0);
  transition: 0.2s all;
}
.y24-sp-menu-btn_span::after {
  content: "";
  display: block;
  position: relative;
  width: 14px;
  height: 3px;
  background-color: white;
  bottom: -8px;
  transform: translateY(-50%) rotate(0);
  transition: 0.2s all;
}
@keyframes sp-btn-close {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sp-btn-open {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.y24-sp-menu-btn_span.y24-sp-menu-open {
  background-color: var(--sp-btn-color);
  animation: sp-btn-open 0.5s linear;
}
.y24-sp-menu-open.y24-sp-menu-btn_span::before {
  width: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.2s all;
}
.y24-sp-menu-open.y24-sp-menu-btn_span::after {
  width: 28px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 0.2s all;
}
/* sp MENU */
.y24-sp-menu {
  display: block;
  width: 390px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  transform: translateY(-100%);
  transition: 0.5s all;
  z-index: 200;
}
.y24-sp-menu-inner {
  padding-left: 32px;
  padding-right: 18px;
}
.y24-sp-menu-open.y24-sp-menu {
  transform: translateY(0%);
  transition: 0.5s all;
}
.y24-sp-menu_a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--textcolor-black);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: dashed 1px #b3b3b3;
}
.y24-sp-menu_p {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--textcolor-black);
  font-size: 1.6rem;
  font-size: 16px;
  font-weight: bold;
}
.y24-sp-menu-todoufuken-area,
.y24-sp-menu-syashu-area {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: dashed 1px #b3b3b3;
}
.y24-sp-menu_p {
  display: block;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  color: var(--sp-menu-textcolor-black);
}
.y24-sp-menu-todoufuken-btn-area {
  display: flex;
  width: 300px;
  height: auto;

  flex-wrap: wrap;
}
/* .y24-sp-menu-radio_label, */
.y24-sp-menu-todoufuken_btn {
  display: block;
  width: auto;
  height: auto;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 12px 14px;
  border-radius: 2px;
  border: solid #6fbada 2px;
  font-size: 16px;
  color: #6fbada;
  background-color: white;
}
.y24-sp-menu-todoufuken_btn:hover {
  color: white;
  background-color: #6fbada;
}
input:checked + .y24-sp-menu-radio_label {
  background-color: #6fbada;
  color: white;
}

input.y24-sp-menu-radio_btn,
input.y24-sp-menu-radio-rev_btn {
  display: none;
}
.y24-sp-menu-syashu-btn-area {
  display: flex;
  width: 320px;
  height: auto;

  flex-wrap: wrap;
}

.y24-sp-menu-radio-rev_label,
.y24-sp-menu-syashu_btn {
  display: block;
  width: auto;
  height: auto;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 12px 14px;
  border: solid #6fbada 2px;
  border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  color: white;
  background-color: #6fbada;
}
.y24-sp-menu-syashu_btn:hover {
  color: #6fbada;
  background-color: white;
}
input:checked + .y24-sp-menu-radio-rev_label {
  background-color: white;
  color: #6fbada;
}

.y24-sp-menu-link_btn-area {
  display: flex;
  width: 280px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
}
.y24-sp-menu-link_btn_a {
  display: grid;
  width: 128px;
  height: 48px;
  border: solid 2px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.y24-sp-menu .y24-summary {
  color: var(--sp-menu-textcolor-black);
}
.y24-sp-menu .y24-summary::before {
  content: none;
}
/* .y24-sp-menu .y24-answer_a, */
.y24-sp-menu .y24-answer_link {
  padding-left: 16px;
}
/* .y24-sp-menu .y24-answer_a::before, */
.y24-sp-menu .y24-answer_link::before {
  border-bottom: unset;
}

.y24-contact_btn {
  border-color: #f05778;
  color: #f05778;
  background-color: white;
}
.y24-contact_btn:hover {
  color: white;
  background-color: #f05778;
}

/*  */
#y24-firstview {
  width: 100%;
  height: auto;
  background-image: url("../../images/sp-mv-backgraund.svg"),
    url("../../images/sp-main-image@3x.webp");
  background-size: 102% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center clamp(285px, 73.077vw, 1140px), center 0;
  padding-bottom: 49px;
  overflow-x: hidden;
}
.y24-title_h1 {
  display: block;
  width: clamp(346px, 88.718vw, 1384px);
  height: auto;
  margin-top: 198px;
  margin-top: clamp(198px, 50.769vw, 792px);
  margin-right: 0;
  margin-left: auto;
}
.y24-title_h1_pic {
  display: block;
  /* width: 346px; */
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
}
.y24-title_h1_pic img {
  display: block;
  width: 100%;
  height: auto;
}
/* common */
.y24-section {
  padding-top: 72px;
  padding-bottom: 184px;
}

.y24-font-zenmaru {
  font-family: "Zen Maru Gothic";
  font-weight: bold;
}
.y24-font-jost {
  font-family: "Jost";
  /* font-size: 5.6rem; */
  font-size: 5rem;
  /* font-size: 50px; */
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 0 var(--textcolor-black),
    -1px -1px 0 var(--textcolor-black), -1px 1px 0 var(--textcolor-black),
    1px -1px 0 var(--textcolor-black), 1px 0 0 var(--textcolor-black),
    -1px 0 0 var(--textcolor-black), 0 1px 0 var(--textcolor-black),
    0 -1px 0 var(--textcolor-black), 2px 2px 0 var(--textcolor-black),
    -2px -2px 0 var(--textcolor-black), -2px 2px 0 var(--textcolor-black),
    2px -2px 0 var(--textcolor-black), 2px 0 0 var(--textcolor-black),
    -2px 0 0 var(--textcolor-black), 0 2px 0 var(--textcolor-black),
    0 -2px 0 var(--textcolor-black);
}

.y24-text-pink {
  color: var(--textcolor-pink);
}
.y24-text-green {
  color: var(--textcolor-green);
}
.y24-text-bold {
  font-weight: bold;
}
.y24-section-title_h2 {
  display: block;
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 12px;
  text-align: center;
  /* font-size: 2.4rem; */
  /* font-size: 4.2rem; */
  /* font-size: 24px;? */
  /* font-family: 'Zen Maru Gothic'; */
  font-family: "Jost";
  font-weight: bold;
}
.y24-section-title_p {
  display: block;
  width: fit-content;
  font-size: 24px;
  font-family: "Zen Maru Gothic";
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 36px;
}

.y24-section-title_pic {
  display: block;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.y24-section-title_img {
  display: block;
  width: fit-content;
  height: auto;
}
.y24-section_p {
  margin-bottom: unset;
  /* font-size: 1.6rem; */
  font-size: 16px;
  font-family: "Zen Kaku Gothic New";
  font-weight: 500;
  text-align: center;
}

.y24-bck-color-blue {
  background-color: var(--maincolor-blue);
}
.y24-bck-color-white {
  background-color: var(--maincolor-white);
}
.y24-bck-color-green {
  background-color: var(--maincolor-green);
}
/* 車が動くボタン */
.y24-btn-movecar {
  width: 360px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  border: solid var(--textcolor-black) 3px;
  border-radius: 2px;
  overflow: hidden;
}
.y24-btn-movecar-car_pic {
  display: block;
  position: absolute;
  width: 91px;
  height: auto;
  left: 0;
  bottom: 0;
  transform: translateX(-40px);
  transition: 0.5s all;
}
.y24-movetrack {
  bottom: -10px;
  left: 20px;
}
.y24-btn-movecar:hover .y24-btn-movecar-car_pic {
  transform: translateX(-30px);
}
.y24-btn-movecar-car_img {
  display: block;
  width: fit-content;
  width: 100%;
  height: auto;
}

.y24-btn-movecar-text_pic {
  display: block;
  width: fit-content;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.y24-btn-movecar-text_img {
  display: block;
  width: fit-content;
  height: auto;
}
.y24-btn-movecar-text {
  width: 100%;
  height: auto;
  position: absolute;
  font-family: "Zen Kaku Gothic New";
  /* font-size: 1.8rem; */
  font-size: 18px;
  font-weight: bold;
  color: var(--textcolor-black);
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
/*  */
.y24-btn-movecar-car_pic.y24-movetrack {
  display: block;
  width: 91px;
  height: 45px;
  bottom: 12px;
  left: -8px;
  transform: translateX(-53%);
}
.y24-btn-movecar-car_pic.y24-movetrack .y24-btn-movecar-car_img {
  display: block;
  width: 132px;
  height: 66px;
}
/* section-01 */
.y24-submenu {
  display: grid;
  grid-template-columns: 90px 131px 90px;
  gap: 8px;
  /* width: 330px; */
  width: fit-content;
  height: 140px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aqua; */
}
.y24-submenu-item {
  width: 100%;
  height: auto;
  position: relative;
}
.y24-submenu-item_p {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.y24-submenu-item_p-small {
  font-size: 14px;
}
.y24-submenu-item:nth-of-type(2n + 1) {
  margin-top: 0;
  margin-bottom: auto;
}
.y24-submenu-item:nth-of-type(2n) {
  margin-top: auto;
  margin-bottom: 0;
}
.y24-submenu-item_img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
}
.y24-submenu-item_img:hover {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}
#y24-entryDate::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#y24-sp-menu .y24-container {
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
}

/* ここまで調整用スタイル */

.y24-details {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding-top: 18px;
  /* padding-left: 32px; */
  padding-right: 37px;
  background-color: white;
  border-radius: 10px;
  /* border-radius: clamp(1px, 2.564vw, 40px); */
}

.y24-summary {
  display: block;
  position: relative;
  padding-right: 30px;
  padding-bottom: 18px;
  color: #2297c8;
  font-family: "Zen Kaku Gothic New";
  /* font-size: 1.4rem; */
  font-size: 14px;
  line-height: 1.643;
  font-weight: bold;
  cursor: pointer;
  text-align: justify;
  list-style: none;
}
summary::-webkit-details-marker {
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  display: none;
}
.y24-summary::before {
  content: "";
  width: 15px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: -20px;
  background-image: url("../../images/sp-faq-q-pic.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.y24-details[open] .y24-summary::after {
  transform: rotate(180deg);
}
.y24-summary::after {
  content: "";
  width: 13px;
  height: 9px;
  position: absolute;
  top: 5px;
  right: -16px;
  background-image: url("../../images/sp-faq-close-pic.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s all;
}

.y24-answer {
  width: 100%;
}
.y24-answer_p {
  width: 100%;
  height: auto;
  position: relative;
  font-family: "Zen Kaku Gothic New";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.643;
  padding-bottom: 18px;
}
.y24-answer_p::before {
  content: "";
  width: 13px;
  height: 22px;
  position: absolute;
  top: 5px;
  left: -20px;
  background-image: url("../../images/sp-faq-a-pic.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.y24-answer_a,
.y24-answer_link {
  display: grid;
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: var(--textcolor-black);
  text-align: left;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.y24-answer_a::before {
  content: "";
  width: 110%;
  height: 48px;
  height: 2px;
  position: absolute;
  bottom: 0;
  border-bottom: dotted var(--textcolor-black) 1px;
}
.y24-answer_link::before {
  content: "";
  width: 110%;
  height: 48px;
  height: 2px;
  position: absolute;
  bottom: 0;
  border-bottom: dotted var(--textcolor-black) 1px;
}
/*  */
/*  */
@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */

  .y24-768-none {
    display: none;
  }
  .y24-map-none {
    display: initial;
  }

  .y24-navmenu-sp768 {
    display: flex;
    position: relative;
    width: 147px;
    height: 66px;

    justify-content: space-between;
    margin-left: auto;
    margin-right: 100px;
  }
  .y24-sp-contact-btn {
    display: block;
    width: 65px;
    height: 54px;
    position: relative;
    background-color: white;
    border: solid 2px #f05778;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../images/sp-contact-btn-red.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center top 30%;
  }
  .y24-sp-contact-btn:hover {
    background-color: #f05778;
    background-image: url("../../images/sp-contact-btn-white.svg");
  }
  .y24-sp-contact-btn:hover .y24-sp-contact-btn_p {
    color: white;
  }
  .y24-sp-contact-btn_pic {
    display: block;
    position: relative;
    width: 18px;
    height: auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-sp-contact-btn_img,
  .y24-sp-application-btn_img {
    display: block;
    width: 100%;
    height: auto;
  }

  .y24-sp-contact-btn_p {
    display: block;
    margin-top: 31px;
    font-size: 10px;
    font-weight: bold;
    color: #f05778;
  }

  .y24-sp-application-btn {
    display: block;
    width: 65px;
    height: 54px;
    position: relative;

    background-color: #f05778;
    border: solid 2px #f05778;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../images/sp-application-btn-white.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center top 30%;
  }
  .y24-sp-application-btn:hover {
    background-color: white;
    background-image: url("../../images/sp-application-btn-red.svg");
  }
  .y24-sp-application-btn:hover .y24-sp-application-btn_p {
    color: #f05778;
  }
  .y24-sp-application-btn_pic {
    display: block;
    width: 18px;
    height: auto;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-sp-application-btn_p {
    display: block;
    margin-top: 31px;

    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .y24-sp-menu-btn {
    width: 54px;
    height: 54px;
    right: 20px;
    border-radius: 20px;
    top: 6px;
  }
  .y24-sp-menu-btn_span {
    display: block;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span::before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background-color: white;
    top: -8px;
    transform: translateY(-50%) rotate(0);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span::after {
    content: "";
    display: block;
    position: relative;
    width: 14px;
    height: 3px;
    background-color: white;
    bottom: -8px;
    transform: translateY(-50%) rotate(0);
    transition: 0.5s all;
  }
  .y24-sp-menu-btn_span.y24-sp-menu-open {
    background-color: var(--sp-btn-color);
  }
  .y24-sp-menu-open.y24-sp-menu-btn_span::before {
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.5s all;
  }
  .y24-sp-menu-open.y24-sp-menu-btn_span::after {
    width: 28px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.5s all;
  }
  .y24-submenu {
    display: grid;
    grid-template-columns: 135px 190px 135px;
    gap: 18px;
    height: 210px;
    margin-top: 18px;
  }
  .y24-submenu-item_p {
    top: 6px;
    font-size: 24px;
  }

  .y24-summary {
    font-size: 16px;
  }
  .y24-answer_p {
    font-size: 16px;
  }
  .y24-summary::before {
    width: 20px;
    height: 30px;
    top: 4px;
    left: -25px;
  }
  .y24-answer_p::before {
    width: 20px;
    height: 30px;
    top: 4px;
    left: -25px;
  }

  /*  */
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  html {
    font-size: 10px;
  }
  .y24-pc-none,
  .y24-submenu {
    display: none;
  }
  .y24-sp-none {
    display: initial;
  }
  .y24-sp-menu-btn,
  .y24-sp-menu {
    display: none;
  }



  .y24-navmenu-sp768 {
    width: 177px;
    height: 84px;
    margin-right: 11px;
    top: 50%;
    transform: translateY(-50%);
  }

  .y24-sp-contact-btn {
    width: 76px;
    height: 76px;
    background-size: 27px 27px;
  }

  .y24-sp-contact-btn_p {
    margin-top: 45px;
    font-size: 12px;
  }

  .y24-sp-application-btn {
    width: 76px;
    height: 76px;
    background-size: 27px 27px;
  }

  .y24-sp-application-btn_p {
    margin-top: 45px;
    font-size: 12px;
  }

  #y24-firstview {
    width: 100%;
    height: auto;
    background-image: url("../../images/pc-mv-backgraund.svg"),
      url("../../images/pc-main-image@3x.webp");
    background-size: 102% auto, 100% auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center 656px, center 0;
    background-position: center clamp(1px, 45.556vw, 656px), center 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 49px;
    overflow-x: hidden;
  }
  .y24-title_h1 {
    display: block;
    width: clamp(346px, 88.718vw, 1384px);
    height: auto;
    margin-top: clamp(198px, 50.769vw, 792px);
    margin-right: 0;
    margin-left: auto;
    /*  */
    width: 730px;
    margin-top: 110px;
  }
  .y24-section-title_h2 {
    font-size: 130px;
    width: fit-content;
    padding-bottom: 0;
  }
  .y24-section-title_p {
    font-size: 36px;
  }
  /*  */
  /* 1440px */
  /*  */
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */

  #y24-firstview {
    width: 100%;
    height: auto;
    background-image: url("../../images/pc-mv-backgraund.svg"),
      url("../../images/pc-main-image@3x.webp");
    background-size: 102% auto, 100% auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center 656px, center 0;
    background-position: center clamp(1px, 45.556vw, 656px), center 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 49px;
    overflow-x: hidden;

    /*  */

    padding-bottom: 116px;
  }
  .y24-navmenu-sp768 {
    width: 256px;
    height: 110px;
  }

  .y24-sp-contact-btn,
  .y24-sp-application-btn {
    width: 110px;
    height: 110px;
    background-size: 38px 38px;
  }

  .y24-sp-contact-btn_p,
  .y24-sp-application-btn_p {
    margin-top: 66px;
    font-size: 16px;
  }

  .y24-btn-movecar {
    width: 492px;
    height: 82px;
  }

  .y24-btn-movecar-car_pic.y24-movetrack {
    display: block;
    width: 91px;
    height: 45px;
    bottom: 12px;
    left: -8px;
    transform: translateX(-53%);
  }
  .y24-btn-movecar-car_pic.y24-movetrack .y24-btn-movecar-car_img {
    display: block;
    width: 132px;
    height: 66px;
  }
}
