@charset "UTF-8";
/* パンくずリストインナー */

.y24-breadcrumb-inner {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* パンくずリスト */

nav {
  border-bottom: 1px #d1d6e0 solid;
}
nav[aria-label="breadcrumb"] ul {
  list-style: none; /* リストマーカーを削除 */
  padding: 12px 0 12px 20px; /* パディングをリセット */
  display: flex; /* アイテムを横並びにする */
  height: 48px;
  margin: 0;
  box-sizing: border-box;

  /* max-width: 960px; */
}

/* リンクのスタイリング */
nav[aria-label="breadcrumb"] li a {
  text-decoration: none;
  color: var(--textcolor-black);
  transition: color 0.3s;
  font-size: 16px;
}

/* リンクにホバーしたときのスタイル */
nav[aria-label="breadcrumb"] li a:hover {
  color: #0056b3; /* ホバー時の色 */
}

/* 現在のページを示すアイテムのスタイリング */
nav[aria-label="breadcrumb"] li:last-child {
  font-weight: bold;
  pointer-events: none; /* クリックを無効化 */
}

/* すべてのli要素に対してスタイルを適用する */
nav[aria-label="breadcrumb"] li {
  display: inline-block; /* インラインブロック要素として表示 */
}

/* 最後の要素を除くすべてのli要素の後に記号を挿入 */
nav[aria-label="breadcrumb"] li:not(:last-child)::after {
  content: url("../../images/breadcrumb-arrow-right.svg"); /* 挿入する内容 */
  padding: 0 8px; /* 文字の前後にスペースを追加 */
}

/* 最後のli要素には記号を挿入しない */
nav[aria-label="breadcrumb"] li:last-child::after {
  content: ""; /* 空の内容 */
}

@media screen and (min-width: 768px) {
}
@media (min-width: 992px) {
  nav[aria-label="breadcrumb"] ul {
    list-style: none;
    padding: 12px 0px;
  }
}
@media screen and (min-width: 1440px) {
}
