@charset "UTF-8";

#y24-moto-firstview {
  border-bottom: 1px solid #c2c9d6;
}

/* motorcycleページ共通 */

.y24-moto-inner {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.y24-motorcycle-title {
  margin: 0 auto;
  padding: 0 0 18px 0;
  line-height: 0.8;
  letter-spacing: 4px;
}

.y24-section-title_p {
  margin: 0 auto;
  padding-bottom: 0;
}

/* section-01 ファーストビュー*/
#y24-moto-firstview {
  padding: 0;
}

.y24-moto-firstview__inner {
  max-width: 720px;
  margin: 0 auto;
  padding: 24px 20px;
}

.y24-moto-firstview__p {
  font-size: 16px;
  line-height: 1.625;
  margin: 0 auto;
}

.y24-moto-firstview__p:not(:last-child) {
  padding-bottom: 12px;
}

/* section-01 ファーストビュー02*/
#y24-moto-firstview-02 {
  padding: 48px 20px 60px 20px;
}

.y24-moto-firstview-02__cards {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.y24-card {
  padding-bottom: 12px;
}

.y24-card__title-box {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #b2c10f;
  margin-bottom: 32px;
}
.y24-card__title {
  font-size: 26px;
  color: var(--textcolor-black);
  line-height: 1.3;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: 8px;
  font-family: "Zen Maru Gothic";
  letter-spacing: -1px;
}

.y24-card-body {
  display: flex;
  flex-direction: column;
}

.y24-card-body__image img {
  width: 100%;
  height: auto;
}

.y24-card__details {
  position: relative;
  height: calc((166 / 350 * 100vw) + 150px);
  overflow: hidden;
  transition: 0.4s;
  box-sizing: border-box;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.y24-card__details-02 {
  height: 100px;
}
.y24-card__details:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.4s;
}

.y24-card__details.active:before {
  opacity: 0;
  visibility: hidden;
}
.y24-card__txt-box {
  padding-bottom: 30px;
}

.y24-card__txt-box, .y24-card__table-box {
  flex: 1;}

  .y24-card__table-box img {
    width: 100%;
    height: auto;
  }
.y24-card__txt {
  margin: 0;
  padding-bottom: 12px;
  font-size: 16px;
}
.y24-card__txt:last-of-type {
  padding-bottom: 12px;
}

.y24-card-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
  padding-top: 12px;
  border-top: solid 1px #737b8c;
  width: 100%;
  background-color: #ffff;
}

.y24-card__btn:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/salelist-dropdown.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
}

.y24-card__btn.rotated:after {
  transform: rotate(180deg);
}


@media screen and (min-width: 768px) {
  .y24-card__details {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    row-gap: 36px;
    height: 160px;
    /* height: 100px; */
    column-gap: 48px;
  }

  .y24-card__details-02 {
    height: 100px;
    column-gap: 24px;
  }
}
@media (min-width: 992px) {
  /* motorcycleページ共通 */
  .y24-card__title-box {
    margin-bottom: 48px;
  }
  .y24-motorcycle-title {
    margin: 0 auto;
    padding: 0 0 14px 0;
  }
}
@media screen and (min-width: 1440px) {
  .y24-card-body__image img {
    height: 208px;
    width: 308px;
    align-items: center;
  }
 
  .y24-card__txt {
    font-size: 16px;
  }


}
