/* section-15 blog    */
#y24-blog {
  padding-bottom: unset;
}

/* splid */
.y24-blog-splide {
  margin-top: 48px;
  margin-bottom: 112px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.y24-blog-splide .splide__pagination {
  display: none;
}
.y24-blog-splide .splide__slide {
  width: 280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-bottom: 3px !important;
}
.y24-blog-splide .splide__arrows {
  display: grid !important;
  position: absolute !important;
  width: 80px !important;
  height: 40px !important;
  grid-template-columns: repeat(2, 40px) !important;
  left: 50% !important;
  bottom: -70px !important;
  transform: translateX(-50%);
}

.y24-blog-splide .splide__arrow {
  display: block !important;
  border: solid 1px #333333 !important;
  background-color: white !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: unset !important;
  left: unset !important;
  top: unset !important;
  transform: unset !important;
  position: unset !important;
}

.y24-blog-splide .y24-splide_card {
  width: 260px;
  height: auto;
  position: relative;
  padding-bottom: 18px;
  /* background-color: pink; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.y24-blog-splide .y24-splide-imgframe {
  width: 100%;
  height: auto;
}
.y24-blog-splide .y24-splide_slide_img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
.y24-blog-splide .y24-splide_card:hover{
  cursor: pointer;
}
.y24-blog-splide .y24-splide_card:hover .y24-splide_slide_img {
  transform: scale(1.1);
  transition: all 1s;
}
.y24-blog-splide .y24-splide_slide-text {
  display: block;
  font-size: 16px;
  font-family: "Noto Sans JP";
  font-weight: 500;
  color: var(--textcolor-black);
  padding: 4px 8px;
}
.y24-blog-splide .y24-splide_slide_time {
  display: block;
  font-size: 14px;
  color: var(--textcolor-black);
  padding-top: 8px;
  padding-left: 8px;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
}

@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  #y24-blog {
    /*  */
    padding-left: var(--x-padding-base);
    padding-right: var(--x-padding-base);
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  #y24-blog {
    padding-bottom: 72px;
  }
  #y24-blog .y24-section-title_p {
    margin-bottom: 0;
    padding-bottom: 53px;
  }
  .y24-blog-splide {
    width: 100%;
    padding: 60px 0 57px;
  }
  #y24-blog .y24-btn-movecar {
    margin-top: 48px;
    width: 428px;
    height: 82px;
  }
  /* splid */
  #y24-blog {
    overflow: hidden;
  }
  .y24-blog-splide .splide__track {
    overflow: visible;
  }

  .y24-blog-splide .splide__slide {
    width: 449px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
  }

  .y24-blog-splide .y24-splide_card {
    width: 377px;
    height: auto;
    position: relative;
    padding-bottom: 18px;
    /* background-color: pink; */
    border-radius: 10px;
    overflow: hidden;
  }
  .y24-blog-splide .y24-splide_slide-text {
    font-size: 20px;
    padding: 5px 18px;
  }
  .y24-blog-splide .y24-splide_slide_time {
    font-size: 18px;
    padding-top: 18px;
    padding-left: 18px;
  }

  .y24-blog-splide .splide__arrows {
    width: 128px !important;
    height: 64px !important;
    grid-template-columns: repeat(2, 64px) !important;

    left: unset !important;
    transform: unset !important;
    right: 0 !important;
    bottom: -110px !important;
  }

  .y24-blog-splide .splide__arrow {
    width: 64px !important;
    height: 64px !important;
  }
}
