@charset "UTF-8";

#y24-offplan {
  margin-top: -65px;
}
#y24-offplan.y24-section {
  padding-bottom: 120px;
}
.y24-bck-color-EFF3CE {
  background: #eff3ce;
}

.y24-plan_content-area {
  display: grid;
  gap: 24px;
}

.y24-plan_content-title {
  position: relative;
  padding-left: 44px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Zen Maru Gothic";
}

.y24-plan_content-title::before {
  content: url(../../images/13-car.svg);
  position: absolute;
  left: 0;
}

.y24-plan_content-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  margin-top: -5px;
  border-bottom: solid 2px #b2c10f;
  bottom: -10px;
  left: 0;
}

.y24-plan_content-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.y24-plan_content-text {
  margin-top: 36px;
  font-size: 16px;
  line-height: calc(26 / 16);
  display: grid;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
}
@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  #y24-offplan {
    padding-left: var(--x-padding-base);
    padding-right: var(--x-padding-base);
  }
  .y24-content-inner {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */
  #y24-offplan {
    margin-top: 0px;
  }
  #y24-offplan.y24-section {
    padding-bottom: 87px;
  }
  .y24-plan_content-title::before {
    display: none;
  }
  .y24-plan_content-title {
    padding-left: 15px;
    font-size: 36px;
  }
  .y24-plan_content-title::after {
    bottom: -7px;
  }
  .y24-pc-2colum_1-2 {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 2fr;
  }
  .y24-plan_content-text {
    margin-top: 0;
  }
}
