@charset "UTF-8";

.y24-inner {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.y24-section.y24-section-fv {
  background: linear-gradient(0deg, #EFF3CE 0%, #EFF3CE 100%), #F4F6E4;
  padding-bottom: 0;
}

.y24-fv01-ttl {
  font-family: "Zen Maru Gothic";
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  letter-spacing: 0.32px;
  padding-top: 22px;
  color: #000;  

  position: relative;
  z-index: 1;
}

.y24-fv01-ttl-line-wrap {
  display: flex;
  flex-flow: column;
  gap: 16px 0;

  position: absolute;
  top: 126px;
  left: 50%;
  transform: translateX(-50%);
}

.y24-fv01-ttl-line {
  width: 292px;
  height: 12px;
  margin: auto;
  border-radius: 99px;
  background: var(--maincolor-green);
}

.y24-fv01-ttl-line.y24-fv01-line-top {
  width: 160px;
}

.y24-fv01-ttl2-wrap {
  padding-top: 48px;
}

.y24-fv01-ttl2 {
  margin: auto;
  text-align: center;
  padding: 8px 16px;
  width: 115px;
  border-radius: 999px;
  background: var(--maincolor-green);
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

.y24-fv01-items {
  display: flex;
  padding: 4px 6px;
  gap: 0 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.y24-fv01-items li {
  border: 1px solid #000;

  padding: 4px 6px;
  font-weight: 700;
  font-size: 12px;
  }

.y24-btn {
  text-align: center;
  border-radius: 8px;
  background: #F05778; 
}

.y24-btn.y24-btn-fv01 {
  width: 240px;
  margin: 0 auto 36px;
  padding: 12px 24px 12px 55px;

  position: relative;
}

.y24-btn a {
  display: block;
  color: var(--maincolor-white);  
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.y24-btn.y24-btn-fv01:before {
  content: "";
  position: absolute;
  background: url(../../images/school/icon-applicatin.svg) no-repeat center center / contain;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
}

.y24-fv02 {
  background: var(--maincolor-white);  
  padding-bottom: 120px;
}

.y24-breadcrumb {
  padding: 8px 0;  
  font-size: 16px;  
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 72px;
  border-bottom: 1px solid #D1D6E0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}

.y24-breadcrumb img {
  margin-top: 2px;
}

.y24-breadcrumb span {
  font-weight: 700;
  line-height: 24px; /* 150% */
  color: #000;
}

.y24-subfooter-wrap {
  display: none;
}

.y24-fv02-txt-br {
  display: block;
  content: "";
  margin: 10px 0;
}

.y24-fv02-item02 {
  margin-bottom: 48px;
}

.y24-fv02-item-img {
  aspect-ratio: 296 / 154;
  padding-right: 52px;
  padding-bottom: 13px;
  margin-bottom: 24px;
}

.y24-fv02-item-img.item03 {
  padding: 0;
  margin-bottom: 36px;
}

.y24-fv02-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;         
}

.y24-fv02-item-txt {
  font-size: 16px;
  
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.y24-fv02-item-txt.y24-bottom {
  margin-bottom: 36px;
} 

.y24-fv02-items03 {
  background: linear-gradient(0deg, #E5F7FF 0%, #E5F7FF 100%), #FAFAFA;
  padding: 24px;
}

.y24-fv02-items03-ttl {
  font-size: 24px;
  
  font-weight: 700;
  line-height: 150%; /* 36px */
  color: var(--textcolor-pink);
  text-align: center;
  margin-bottom: 16px;
}

.y24-fv02-items03-item p {
  font-size: 16px;
  
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 12px;
}

.y24-fv02-items03-list {


}

.y24-fv02-items03-list li {
  font-size: 16px;
  
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-left: 16px;

  position: relative;
}

.y24-fv02-items03-list li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #B7C705;
  border-radius: 99px;
  top: 12px;
  left: 0;
}

.y24-fv02-items03-list li:not(:first-child) {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  /* スクリーンサイズが768px以上の場合に適用 */
  .y24-section.firstview {
    padding: 56px 0 0;
  }

  .y24-inner {
    max-width: 100%;
    width: 960px;
    margin: auto;
    padding: 0 20px;
  }

  .y24-inner.y24-inner-fv {
    max-width: 100%;
    width: 1280px;
    padding: 0;
    margin: 0;

    margin-bottom: 24px;
  }

  .y24-fv01-ttl-line-wrap {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y24-fv01-ttl-line {
    width: 600px;
    height: 12px;
    margin: auto;
  } 

  .y24-fv01-ttl-line.y24-fv01-line-top {
    display: none;
  }

  .y24-fv01-ttl2-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .y24-fv01-ttl2 {
    margin: 0;
    text-align: start;
  }

  .y24-fv01-items {
    display: flex;
    padding: 4px 6px;
    gap: 0 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .y24-fv01-items li {
    padding: 6px;
  }

  .y24-btn.y24-btn-fv01 {
    margin: 24px auto 24px; 
  }

  .y24-fv01-btn {
    margin: 0;

    position: relative;
  }

  .y24-breadcrumb {
    margin-bottom: 0;
    border-bottom: none;
  }

  .y24-subfooter-wrap {
    display: block;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    border-top: 1px solid #D7D8DB;
    border-bottom: 1px solid #D7D8DB;  
    padding: 8px 0 9px 0;
  }

  .y24-subfooter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .y24-subfooter li {
    width: 12.5%;
    text-align: center;
    padding: 20px 0;
    border-left: 1px solid #C2C9D6;
  }

  .y24-subfooter li a {
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
  }  

  .y24-fv02-co2 {
    padding: 72px 0 110px;
  }

  .y24-fv02-items02 {
    
  }

  .y24-fv02-item02 {
    display: flex;
    
  }

  .y24-fv02-item-img {
    padding-right: 24px;
    padding-bottom: 0;
    width: 40%;
  }

  .y24-fv02-txt-br {
    display: block;
    content: "";
    margin: 12px 0 0;
  }

  .y24-fv02-item-txt {
    width: 60%;
  }

  .y24-fv02-item-txt.y24-bottom {
    margin-bottom: 0;
    width: 60%;
  }
  
  .y24-fv02-item-img.y24-bottom {
    padding-right: 0;
    padding-left: 24px;
    margin-bottom: 80px;
    width: 40%;
  }


  .y24-fv02-items03 {
    width: 1008px;
    max-width: 100%;
    margin: auto;
    padding: 24px;
  }

  .y24-fv02-items03-ttl {
    
  }

  .y24-fv02-items03-item {
    display: flex;
  }

  .y24-fv02-item-img.item03 {
    width: 32.4%;
    padding-bottom: 96px;
    margin-bottom: 0;
  }

  .y24-fv02-item03-txt {
    width: 67.5%;
    padding-left: 24px;
  }

  .y24-fv02-items03-list li::before {
    
  }

  .y24-fv02-items03-list li:not(:first-child) {
    margin-top: 8px;
  }
}
@media (min-width: 992px) {
  /* スクリーンサイズが992px以上の場合に適用 */
  .y24-section.y24-section-fv {
    padding: 144px 0 0;
  }

  .y24-inner.y24-inner-fv {
    max-width: 1360px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 24px;
  }

  .y24-inner {
    max-width: 100%;
    width: 960px;
    margin: auto;
    padding: 0;
  }

  .y24-fv01-ttl-line-wrap {
    position: absolute;
    top: 216px;
    left: 40px;
    transform: none;
  }
  
  .y24-fv01-ttl2-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 3px;
  }

  .y24-fv01-ttl {
    text-align: start;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.36px;
    padding-top: 35px;
  }  

  .y24-fv02-item-img {
    padding-right: 16px;
    padding-bottom: 0;
    width: 33.8%;
  }

  .y24-fv02-item-txt {
    width: 66.2%;
  }

  .y24-plan-box2-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 20px;
    width: 69.16%;
  }

  .y24-breadcrumb {
    width: 960px;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }

  .y24-subfooter {
    max-width: 100%;
    width: 960px;
    margin: auto;
  }

  .y24-subfooter li:last-child {
    border-right: 1px solid #C2C9D6;
  }

  .y24-fv01-ttl2-wrap {
    padding-top: 40px;
  }
  
  .y24-btn a {
    font-size: 20px;
}

  .y24-btn.y24-btn-fv01 {
    width: 280px;
  }

  .y24-btn.y24-btn-fv01 {
    margin: 0;
    margin-top: 35px;
  }

  .y24-fv02-item02 {
    margin-bottom: 26px;
  }
  
  .y24-fv02-item-img.y24-bottom {
    padding-right: 0;
    padding-left: 85px;
    padding-bottom: 40px;
    margin-bottom: 53px;
    width: 40%;
  }

  .y24-fv02-co2 {
    padding: 72px 0 0;
  }

  .y24-fv01-ttl-line {
    width: 650px;
  }

 
}
@media screen and (min-width: 1440px) {
  /* スクリーンサイズが1440px以上の場合に適用 */



}
